<div id="row[<%-i%>]" class="income-source-edit col-sm-12 col-xs-12" data-i="<%- i%>">
  <%
  var selectedType = defaultValue(options.selectedType, incomeSource.get('type'));
  var selectedFrequency = defaultValue(options.selectedFrequency, incomeSource.get('frequency'));
  var selectedFrequencyMultiplier = defaultValue(options.selectedFrequencyMultiplier, incomeSource.get('frequencyMultiplier'));
  var selectedDescription = defaultValue(options.selectedDescription, incomeSource.get('description'));
  var selectedAmount = defaultValue(options.selectedAmount, incomeSource.get('amount'));
  var selectedEmployerPhoneNumber = defaultValue(options.selectedEmployerPhoneNumber, incomeSource.get('employerPhoneNumber'));
  var selectedEmployerStreetAddress = defaultValue(options.selectedEmployerStreetAddress, incomeSource.get('employerStreetAddress'));
  var selectedEmployerSuiteNumber = defaultValue(options.selectedEmployerSuiteNumber, incomeSource.get('employerSuiteNumber'));
  var selectedEmployerCity = defaultValue(options.selectedEmployerCity, incomeSource.get('employerCity'));
  var selectedEmployerState = defaultValue(options.selectedEmployerState, incomeSource.get('employerState'));
  var selectedEmployerZipCode = defaultValue(options.selectedEmployerZipCode, incomeSource.get('employerZipCode'));
  var selectedEmployerEin = defaultValue(options.selectedEin, incomeSource.get('employerEin'));

  sourceOptions = IncomeSource.TYPE[selectedType] || {};

  // We show the employer street address field by default and
  // only show employer suite/city/state/zip when they enter something
  // for the street address. However, if reloading the page from an
  // existing app, we should show these extra fields if they already have
  // something stored for them.
  var showEmployerExtraFields = defaultValue(incomeSource.get('employerSuiteNumber'), sourceOptions['employerSuiteNumber']) ||
                                defaultValue(incomeSource.get('employerCity'), sourceOptions['employerCity']) ||
                                defaultValue(incomeSource.get('employerState'), sourceOptions['employerState']) ||
                                defaultValue(incomeSource.get('employerZipCode'), sourceOptions['employerZipCode']);
  %>

  <div class="row">
    <div class="th col-md-2">
      <%- content.selectType %>
    </div>
    <div class="th col-md-10">
      <%
        /**
         * We show instructionsText above the form fields on income entry to
         * describe various income types. In some cases we need additional help
         * so we can also add a help popover using the _popover-label partial,
         * but we should never have a popover without any instructionsText.
         */
      %>
      <% if (sourceOptions['helpText'] && sourceOptions['instructionsText']) { %>
        <%= partial('help/_popover-label', {
          label: Strings.format(content.incomeTypeInstructions[selectedType], person.getFullName()),
          content: content.incomeTypeHelp[selectedType].content,
          options: _.extend({
            append: true,
            escapeLabel: false,
            escapePopover: false
          }, content.incomeTypeHelp[selectedType].options)
        }) %>
      <% } else if (sourceOptions['instructionsText']) { %>
        <%- Strings.format(content.incomeTypeInstructions[selectedType], person.getFullName()) %>
      <% } %>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-md-2 col-sm-6">
      <%= partial('forms/_dropdown', {
        name: 'tendon:people[' + personIndex + '].incomeSources[' + i + '].type',
        label: content.typeOfIncome,
        menuItems: _.map(IncomeSource.TYPES, function(value) {
          return { value: value, text: content.incomeTypes[value] };
        }),
        options: {
          className: 'income-type-dropdown',
          defaultText: content.typeOfIncome,
          selectedOption: selectedType
        }
      }) %>
    </div>

    <% if (!_.isUndefined(selectedType)) { %>

      <% if (sourceOptions['description']) { %>
        <div class="form-group <%- (sourceOptions['employerPhoneNumber']) ? 'col-md-3' : 'col-md-6' %> col-sm-6">
          <div class="controls">
            <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].description" class="form-control income-description" type="text" value="<%- selectedDescription %>" placeholder="<%- content.jobDescriptions[selectedType] %>" aria-label="<%- content.jobDescriptions[selectedType] %>">
          </div>
        </div>
        <% if (sourceOptions['employerPhoneNumber']) { %>
          <div class="form-group col-md-3 col-sm-6">
            <div class="controls">
              <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerPhoneNumber" class="form-control income-employer-phone-number" type="tel" data-mask="999-999-9999" value="<%- selectedEmployerPhoneNumber %>" placeholder="<%- content.employerPhoneNumber %>" aria-label="<%- content.employerPhoneNumber %>">
            </div>
          </div>
        <% } %>
      <% } %>

      <div class="form-group <%- (sourceOptions['description']) ? 'col-md-2' : 'col-md-8' %> col-sm-6">
        <div class="controls input-group">
          <span class="input-group-addon">$</span>
          <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].amount" data-type="number" class="form-control income-how-much" type="text" value="<%- selectedAmount %>" maxlength="10" placeholder="<%- content.amount %>" aria-label="<%- content.amount %>">
        </div>
      </div>

      <div class="form-group col-md-2 col-sm-6">
        <%= partial('forms/_dropdown', {
          id: 'frequency-dropdown-' + i,
          name: 'tendon:people[' + personIndex + '].incomeSources[' + i + '].frequency',
          label: content.frequency,
          menuItems: _.map(sourceOptions['frequencies'], function(value) {
          return { value: value, text: content.frequencySelect[value] };
          }),
          options: {
            defaultText: content.frequency,
            className: 'income-frequency-dropdown',
            selectedOption: selectedFrequency
          }
        }) %>
      </div>

    <% } %>

  </div>

  <% if (!_.isUndefined(selectedType) && (selectedFrequency === 'PER_HOUR' || selectedFrequency === 'PER_DAY')) { %>
    <div class="row">
      <div class="form-group col-md-3 col-sm-6 col-xs-12">
        <div class="controls col-sm-3 col-xs-3">
          <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].frequencyMultiplier" class="form-control income-frequency-multiplier" type="text" value="<%- selectedFrequencyMultiplier %>">
        </div>
        <div class="controls col-sm-8 col-xs-5">
          <%- content.frequencyMultiplier[selectedFrequency] %>
        </div>
      </div>
    </div>
  <% } %>

  <% // Only show optional employer information fields for Job income %>
  <% if (!_.isUndefined(selectedType) && selectedType == 'JOB') { %>

    <div class="row">
      <div class="col-md-6 col-md-offset-2 header-label">
        <%- content.optionalFieldsHeader %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5 col-sm-6 col-md-offset-2">
        <div class="controls">
          <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerEin" class="form-control income-employer-ein" type="ein" value="<%- selectedEmployerEin %>" placeholder="<%- content.employerEin %>" aria-label="<%- content.employerEin %>" data-mask="99-9999999">
        </div>
      </div>
      <div class="form-group col-md-5 col-sm-6">
        <div class="controls">
          <input name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerStreetAddress" class="form-control income-employer-street-address" type="text" value="<%- selectedEmployerStreetAddress %>" placeholder="<%- content.employerStreetAddress %>" aria-label="<%- content.employerStreetAddress %>" autocorrect="off" autocapitalize="words" autocomplete="off" spellcheck="false" maxlength="55">
        </div>
      </div>
    </div>

    <% // Show these extra employer address fields only when the user clicks the street address field, unless we have data to show %>
    <div class="row income-employer-extra-address-info <%- (showEmployerExtraFields) ? '' : 'hidden' %>">
      <div class="form-group col-md-2 col-sm-6 col-md-offset-2">
        <input class="form-control income-employer-suite-number" name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerSuiteNumber" type="text" maxlength="55" placeholder="<%- content.employerSuiteNumber %>" aria-label="<%- content.employerSuiteNumber %>" value="<%- selectedEmployerSuiteNumber %>">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <input class="form-control income-employer-city" name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerCity" autocorrect="off" autocapitalize="words" autocomplete="on" spellcheck="true" type="text" maxlength="25" placeholder="<%- content.employerCity %>" aria-label="<%- content.employerCity %>" value="<%- selectedEmployerCity %>">
      </div>
      <% // TODO (rbhobe): refactor all state dropdowns. This is copy/pasted from the _address template. %>
      <div class="form-group col-md-3 col-sm-6">
        <%= partial('forms/_dropdown', {
          id: 'employer-state-dropdown-'+ personIndex +'-'+ i,
          name: 'tendon:people['+ personIndex +'].incomeSources['+ i +'].employerState',
          label: 'State',
          menuItems: [
            { value: 'AL', text: 'Alabama' },
            { value: 'AK', text: 'Alaska' },
            { value: 'AZ', text: 'Arizona' },
            { value: 'AR', text: 'Arkansas' },
            { value: 'CA', text: 'California' },
            { value: 'CO', text: 'Colorado' },
            { value: 'CT', text: 'Connecticut' },
            { value: 'DE', text: 'Delaware' },
            { value: 'DC', text: 'District of Columbia' },
            { value: 'FL', text: 'Florida' },
            { value: 'GA', text: 'Georgia' },
            { value: 'HI', text: 'Hawaii' },
            { value: 'ID', text: 'Idaho' },
            { value: 'IL', text: 'Illinois' },
            { value: 'IN', text: 'Indiana' },
            { value: 'IA', text: 'Iowa' },
            { value: 'KS', text: 'Kansas' },
            { value: 'KY', text: 'Kentucky' },
            { value: 'LA', text: 'Louisiana' },
            { value: 'ME', text: 'Maine' },
            { value: 'MD', text: 'Maryland' },
            { value: 'MA', text: 'Massachusetts' },
            { value: 'MI', text: 'Michigan' },
            { value: 'MN', text: 'Minnesota' },
            { value: 'MS', text: 'Mississippi' },
            { value: 'MO', text: 'Missouri' },
            { value: 'MT', text: 'Montana' },
            { value: 'NE', text: 'Nebraska' },
            { value: 'NV', text: 'Nevada' },
            { value: 'NH', text: 'New Hampshire' },
            { value: 'NJ', text: 'New Jersey' },
            { value: 'NM', text: 'New Mexico' },
            { value: 'NY', text: 'New York' },
            { value: 'NC', text: 'North Carolina' },
            { value: 'ND', text: 'North Dakota' },
            { value: 'OH', text: 'Ohio' },
            { value: 'OK', text: 'Oklahoma' },
            { value: 'OR', text: 'Oregon' },
            { value: 'PA', text: 'Pennsylvania' },
            { value: 'PR', text: 'Puerto Rico' },
            { value: 'RI', text: 'Rhode Island' },
            { value: 'SC', text: 'South Carolina' },
            { value: 'SD', text: 'South Dakota' },
            { value: 'TN', text: 'Tennessee' },
            { value: 'TX', text: 'Texas' },
            { value: 'UT', text: 'Utah' },
            { value: 'VT', text: 'Vermont' },
            { value: 'VA', text: 'Virginia' },
            { value: 'WA', text: 'Washington' },
            { value: 'WV', text: 'West Virginia' },
            { value: 'WI', text: 'Wisconsin' },
            { value: 'WY', text: 'Wyoming' }
          ],
          options: {
            defaultText: content.employerState,
            className: 'income-employer-state-dropdown',
            selectedOption: selectedEmployerState
          }
        }) %>
      </div>
      <div class="form-group col-md-2 col-sm-6">
        <input class="form-control income-employer-zipcode" name="tendon:people[<%- personIndex %>].incomeSources[<%-i%>].employerZipCode" type="tel" maxlength="5" placeholder="<%- content.employerZipCode %>" aria-label="<%- content.employerZipCode %>" value="<%- selectedEmployerZipCode %>">
      </div>
    </div>

  <% } %>

</div>
