<fieldset class="applicant <%- defaultValue(options.className, '') %>" data-person-index="<%- i %>">
  <legend class="has-subtitle">
    <%- heading %>
  </legend>
   <p class="instructions">
    <%- options.subHeading ? options.subHeading : content.householdInfoInstructions %>
  </p>

  <%= partial('forms/_full-name', {
    id: 'full-name-' + i,
    fieldNamePrefix: 'tendon:people[' + i + '].',
  }) %>

  <div class="row">
    <div class="form-group col-md-2 col-sm-6 col-xs-12">
      <div class="header-label"><%- content.dob %></div>
      <input class="form-control" name="tendon:people[<%= i %>].dob"
          type="tel" maxlength="25" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY"
          data-mask="99/99/9999">
    </div>

    <div class="form-group col-md-3 col-sm-6 col-xs-12">
      <div class="header-label">
        <%= partial('help/_popover-label', {
          label: content.ssn,
          content: content.ssnHelp,
          options: {
            escapePopover: false,
            externalLink: content.ssnHelpExternalLink,
            externalText: content.ssnHelpExternalText
          }
        }) %>
      </div>
      <input class="form-control" name="tendon:people[<%= i %>].ssn"
          type="tel" maxlength="25" placeholder="XXX-XX-XXXX" aria-label="XXX-XX-XXXX"
          data-mask="999-99-9999">
    </div>

    <%
      // Use different fluid column widths if the relationship field is shown
      // because it changes how much space we have to show the various fields.
    %>
    <div class="form-group <%- (shouldShowRelationshipField) ? 'col-md-2 col-sm-2' : 'col-md-2' %> col-xs-4">
      <div class="header-label hidden-sm hidden-xs"><% /* spacer */ %>&nbsp;</div>
      <%= partial('forms/_sex', {
        id: 'sex-dropdown-' + i,
        name: 'tendon:people[' + i + '].sex'
      }) %>
    </div>

    <% if (shouldShowRelationshipField) { %>
      <div class="form-group col-md-2 col-sm-5 col-xs-8">
        <div class="header-label hidden-sm hidden-xs"><% /* spacer */ %>&nbsp;</div>
        <%= partial('forms/_dropdown', {
          id: 'relationship-dropdown-' + i,
          name: 'tendon:people[' + i + '].relationship',
          label: content.relationship,
          menuItems: [
            { value: 'child', text: content.child }
          ]
        }) %>
      </div>
    <% } %>

    <div class="form-group <%- (shouldShowRelationshipField) ? 'col-md-3 col-sm-5 col-xs-12' : 'col-md-5 col-xs-8' %>">
      <div class="header-label hidden-sm hidden-xs"><% /* spacer */ %>&nbsp;</div>
      <a href="#" class="ethnicity-race-toggle"
         data-target=".ethnicity-<%- i %>">
        <%- content.ethnicityAndRace %><span class="caret"></span>
      </a>
    </div>
    <%= partial('forms/_ethnicity', {
      i: i,
      content: content
    }) %>
  </div>

  <% if (shouldAskIfApplying) { %>
    <div class="row spacer-top20">
      <div class="col-sm-12 col-xs-12">
        <%= partial('forms/_filter-question', {
          label: defaultValue(options.isApplyingLabel,
            content.coveragePerson),
          name: 'tendon:people[' + i + '].applyingForInsurance',
          value: null
        }) %>
      </div>
    </div>
  <% } %>
</fieldset>
