<div id="<%- id %>" class="row">
  <div class="form-group col-sm-4">
    <input class="form-control" name="<%- fieldNamePrefix %>firstName"
        autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false"
        type="text" maxlength="25" placeholder="<%- content.firstName %>" aria-label="<%- content.firstName %>">
  </div>
  <div class="form-group col-sm-2">
    <input class="form-control" name="<%- fieldNamePrefix %>middleName"
        autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false"
        type="text" maxlength="25" placeholder="<%- content.middleName %>" aria-label="<%- content.middleName %>">
  </div>
  <div class="form-group col-sm-6">
    <div class="input-group">
      <input class="form-control" name="<%- fieldNamePrefix %>lastName"
          autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false"
          type="text" maxlength="25" placeholder="<%- content.lastName %>" aria-label="<%- content.lastName %>">
      <%= partial('forms/_name-suffix', {
        id: id + '-suffix-dropdown',
        name: fieldNamePrefix + 'suffix'
      }) %>
    </div>
  </div>
</div>
