<%
  // TODO(lorenyu): use moment.js library for all datetime stuff
  var sixtyDaysAgo = new Date(new Date().getTime() - 1000*60*60*24*60);
  var sixtyDaysAgoStr = (sixtyDaysAgo.getMonth()+1) + '/' + sixtyDaysAgo.getDate() + '/' + sixtyDaysAgo.getFullYear();
  var sixtyDaysFromNow = new Date(new Date().getTime() + 1000*60*60*24*60);
  var sixtyDaysFromNowStr = (sixtyDaysFromNow.getMonth()+1) + '/' + sixtyDaysFromNow.getDate() + '/' + sixtyDaysFromNow.getFullYear();
%>

<div class="blue-bg">
  <div class="lite-card-inner spacer-bottom20" aria-live="polite" aria-atomic="false">
    <% if (model.get('ffmId')) { %>
      <div class="pull-right"><%- content.applicationId + ': ' + model.get('ffmId') %></div>
    <% } %>
    <h1 class="sub"><%- content.applicationSummary %></h1>
    <div class="subtitle"><%- content.applicationSummaryInstructions %></div>
  </div>
</div>
<div class="section">
  <div class="lite-card-inner" aria-live="polite" aria-atomic="false">

    <div class="section summary-information household-contact">
      <div class="section-heading blue-bg clearfix">
        <h3 class="pull-left"><%- content.householdContact %></h3>
        <a href=".." data-route="/" class="btn btn-green pull-right hidden-print"><%- content.edit %></a>
      </div>
      <div class="section-body">

        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.fullName %></div>
          <div class="col-xs-7 col-sm-9"><%- model.get('householdContact').getFullName() %></div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.address %></div>
          <div class="col-xs-7 col-sm-9">
            <%- model.get('householdContact').getFormattedStreet() %>
            <br />
            <%- model.get('householdContact').getFormattedCityState() %>
          </div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.phoneNumber %></div>
          <div class="col-xs-7 col-sm-9"><%- model.get('householdContact').getFormattedPhone() %></div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.emailAddress %></div>
          <div class="col-xs-7 col-sm-9">
            <%- model.get('householdContact').get('emailAddress') %>
          </div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.updatesByEmail %></div>
          <div class="col-xs-7 col-sm-9"><%- model.get('householdContact').get('needInfoByEmail') ? Grammar.capitalize(content.yes) : Grammar.capitalize(content.no) %></div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.preferredWrittenLanguage %></div>
          <div class="col-xs-7 col-sm-9"><%- model.get('householdContact').getLocalizedPreferredWrittenLanguage(content) %></div>
        </div>
        <div class="row table-row">
          <div class="col-xs-5 col-sm-3 header-field"><%- content.preferredSpokenLanguage %></div>
          <div class="col-xs-7 col-sm-9"><%- model.get('householdContact').getLocalizedPreferredSpokenLanguage(content) %></div>
        </div>
        <% if (model.get('assister')) { %>
          <div class="row table-row">
            <div class="col-xs-5 col-sm-3 header-field"><%- content.assister %></div>
            <div class="col-xs-7 col-sm-9">
              <%- model.get('assister').getFullName() %>
              <br>
              <%- model.get('assister').get('organizationName') %>
            </div>
          </div>
          <div class="row table-row">
            <div class="col-xs-5 col-sm-3 header-field"><%- content.assisterIdNumber %></div>
            <div class="col-xs-7 col-sm-9"><%- model.get('assister').get('organizationId') %></div>
          </div>
          <% if (model.get('assister').get('nationalProducerNumber')) { %>
            <div class="row table-row">
              <div class="col-xs-5 col-sm-3 header-field"><%- content.nationalProducerNumber %></div>
              <div class="col-xs-7 col-sm-9"><%- model.get('assister').get('nationalProducerNumber') %></div>
            </div>
          <% } %>
        <% } %>


      </div>
    </div>

    <div class="section summary-information">
      <div class="section-heading blue-bg clearfix">
        <h3 class="pull-left"><%- content.householdMembers %></h3>
        <a href=".." data-route="/" class="btn btn-green pull-right hidden-print"><%- content.edit %></a>
      </div>
      <div class="section-body">

        <div class="row header-fields hidden-xs">
          <div class="col-sm-3"><%- content.fullName %></div>
          <div class="col-sm-3"><%- content.dateOfBirth %></div>
          <div class="col-sm-2"><%- content.ssn %></div>
          <div class="col-sm-2"><%- content.relationship %></div>
          <div class="col-sm-2"><%- content.sex %></div>
        </div>

        <% _.each(model.getPeopleApplyingForInsurance(), function(person, i) { %>
          <div class="row table-row <%- (i === 0) ? 'first' : '' %>">

            <div class="col-xs-5 visible-xs header-field"><%- content.fullName %></div>
            <div class="col-xs-7 col-sm-3 spacer-bottom10"><%- person.getFullName() %></div>

            <div class="col-xs-5 visible-xs header-field"><%- content.dateOfBirth %></div>
            <div class="col-xs-7 col-sm-3 spacer-bottom10"><%- person.get('dob') %></div>

            <div class="col-xs-5 visible-xs header-field"><%- content.ssn %></div>
            <div class="col-xs-7 col-sm-2 spacer-bottom10"><%- person.getMaskedSsn() %></div>

            <div class="col-xs-5 visible-xs header-field"><%- content.relationship %></div>
            <div class="col-xs-7 col-sm-2 spacer-bottom10"><%- person.getLocalizedRelationship(content) %></div>

            <div class="col-xs-5 visible-xs header-field"><%- content.sex %></div>
            <div class="col-xs-7 col-sm-2 spacer-bottom10"><%- person.getLocalizedSex(content) %></div>

          </div>
        <% }); %>

      </div>
    </div>

    <% if (model.get('requireFinancialInfo')) { %>

      <div class="section summary-information">
        <div class="section-heading blue-bg clearfix">
          <h3 class="pull-left"><%- content.householdIncome %></h3>
          <a href="income" data-route="income" class="btn btn-green pull-right
            hidden-print"><%- content.edit %></a>
        </div>

        <div class="section-body">

          <div class="row header-fields hidden-xs">
            <div class="col-sm-4"><%- content.name %></div>
            <div class="col-sm-4"><%- content.type %></div>
            <div class="col-sm-4"><%- content.amount %></div>
          </div>

          <% _.each(model.get('people'), function(person, i) { %>

            <div class="row table-row <%- (i === 0) ? 'first' : '' %>">

              <% if (person.get('incomeSources').isEmpty()) { %>
                  <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.getFullName() %></div>

                  <div class="col-xs-5 visible-xs header-field"><%- content.type %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10">-</div>

                  <div class="col-xs-5 visible-xs header-field"><%- content.amount %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10">-</div>
              <% } %>
              <% person.get('incomeSources').each(function(income, j) { %>
                  <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- (j === 0) ? person.getFullName() : '' %></div>

                  <div class="col-xs-5 visible-xs header-field"><%- content.type %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- IncomeUtil.formatType(income) %></div>

                  <div class="col-xs-5 visible-xs header-field"><%- content.amount %></div>
                  <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- IncomeUtil.formatAmount(income) %></div>
              <% }) %>

            </div>
          <% }) %>

        </div>
      </div>

      <% if (!_(model.get('people')).invoke('get', 'deductions').invoke('isEmpty').all()) { %>
        <div class="section summary-information">
          <div class="section-heading blue-bg clearfix">
            <h3 class="pull-left"><%- content.householdDeductions %></h3>
            <a href="income" data-route="income" class="btn btn-green
              pull-right hidden-print"><%- content.edit %></a>
          </div>
          <div class="section-body">

            <div class="row header-fields hidden-xs">
              <div class="col-sm-4"><%- content.name %></div>
              <div class="col-sm-4"><%- content.type %></div>
              <div class="col-sm-4"><%- content.amount %></div>
            </div>

            <% _.each(model.get('people'), function(person, i) { %>
              <div class="row table-row <%- (i === 0) ? 'first' : '' %>">

                <% if (person.get('deductions').isEmpty()) { %>
                    <div class="col-xs-5 visible-xs header-field"><%- content.name %></div> <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.getFullName() %></div>

                    <div class="col-xs-5 visible-xs header-field"><%- content.type %></div>
                    <div class="col-xs-7 col-sm-4 spacer-bottom10">-</div>

                    <div class="col-xs-5 visible-xs header-field"><%- content.amount %></div>
                    <div class="col-xs-7 col-sm-4 spacer-bottom10">-</div>
                <% } %>
                <% person.get('deductions').each(function(deduction, j) { %>
                    <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
                    <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- (j === 0) ? person.getFullName() : '' %></div>

                    <div class="col-xs-5 visible-xs header-field"><%- content.type %></div>
                    <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- !deduction.isOtherType() ? content.deductionTypes[deduction.get('type')] : deduction.get('otherType') %></div>

                    <div class="col-xs-5 visible-xs header-field"><%- content.amount %></div>
                    <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- IncomeUtil.formatAmount(deduction) %></div>
                <% }) %>

              </div>
            <% }) %>

          </div>
        </div>
      <% } %>

      <div class="section summary-information">
        <div class="section-heading blue-bg clearfix">
          <h3 class="pull-left"><%- content.incomeSummary %></h3>
          <a href="income" data-route="income" class="btn btn-green pull-right
            hidden-print"><%- content.edit %></a>
        </div>
        <div class="section-body">

          <div class="row header-fields hidden-xs">
            <div class="col-sm-4"><%- content.name %></div>
            <div class="col-sm-4"><%- content.monthlyAmount %></div>
            <div class="col-sm-4"><%- Strings.format(content.annualAmount, model.get('coverageYear')) %></div>
          </div>

          <% _.each(model.get('people'), function(person, i) { %>

            <div class="row table-row <%- (i === 0) ? 'first' : '' %>">

              <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.getFullName() %></div>

              <div class="col-xs-5 visible-xs header-field"><%- content.monthlyAmount %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- Grammar.currencyFormat(person.getMonthlyIncome()) %></div>

              <div class="col-xs-5 visible-xs header-field"><%- Strings.format(content.annualAmount, model.get('coverageYear')) %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- Grammar.currencyFormat(person.get('expectedAnnualIncome')) %></div>

            </div>
          <% }) %>

          <% if (model.requireNumHoursWorkedPerWeek()) { %>
            <div class="row header-fields hidden-xs spacer-top25">
              <div class="col-sm-4"><%- content.name %></div>
              <div class="col-sm-8"><%- content.numHoursWorkedPerWeek %></div>
            </div>

            <% _.each(model.getParents(), function(person, i) { %>
              <div class="row table-row <%- (i === 0) ? 'first' : '' %>">
                <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
                <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.getFullName() %></div>

                <div class="col-xs-5 visible-xs header-field"><%- content.numHoursWorkedPerWeek %></div>
                <div class="col-xs-7 col-sm-8 spacer-bottom10"><%- person.get('numHoursWorkedPerWeek') %></div>
              </div>
            <% }) %>
          <% } %>

        </div>
      </div>
    <% } // end fin aid only section %>

    <div class="section summary-information" class="screener-questions-summary">

      <div class="section-heading blue-bg clearfix">
        <h3 class="pull-left"><%- content.specialCasesScreener %></h3>
        <a href=" " data-route=" " class="btn btn-green pull-right"><%- content.edit %></a>
      </div>
      <div class="section-body">
        <div>
          <% _.each(groupedAffirmations, function(affirmations, affirmationGroup, list) { %>
            <div class="row spacer-bottom5 spacer-top5">
              <% if (affirmations.length > 1) { %>
                <div class="row spacer-bottom10 spacer-top5">
                  <%- affirmationGroup.trim() %>:
                </div>
                <ul class="screener-questions-summary-spaced">
                  <% _.each(affirmations, function(affirmation) { %>
                    <li>
                      <%- formatAffirmation(affirmationGroup, affirmation) %>
                    </li>
                  <% }) %>
                </ul>
              <% } else { %>
                <div class="row spacer-bottom10 spacer-top5">
                  <%- formatAffirmation('', affirmations[0]) %>
                </div>
              <% } %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="section summary-information">
      <div class="section-heading blue-bg clearfix">
        <h3 class="pull-left"><%- content.additionalQuestions %></h3>
        <% if (model.get('requireFinancialInfo')) { %>
          <a href="additional-questions" data-route="additional-questions"
            class="btn btn-green pull-right hidden-print"><%- content.edit %></a>
        <% } else { %>
          <a href="non-fa-sep" data-route="non-fa-sep" class="btn btn-green
            pull-right hidden-print"><%- content.edit %></a>
        <% } %>
      </div>
      <div class="section-body">

        <%

        print(

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'hasDisability',
            conditionContent: content.disability,
            verb: content.has,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'needsPhysicalAssistance',
            conditionContent: content.physicalAssistance,
            verb: content.needs,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'wantRecentBillAssistance',
            conditionContent: content.billAssistance,
            verb: content.needs,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'lostCoverage',
            conditionContent: content.lostCoverage,
            verb: content.lost,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'gotMarried',
            conditionContent: content.gotMarried,
            verb: content.got,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'released',
            conditionContent: content.released,
            verb: content.was,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'gainedImmigrationStatus',
            conditionContent: content.gainedImmigrationStatus,
            verb: content.gained,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'adopted',
            conditionContent: content.adopted,
            verb: content.was,
            cutoffDate: sixtyDaysAgoStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'willLoseCoverage',
            conditionContent: content.willLoseCoverage,
            verb: content.will,
            cutoffDate: sixtyDaysFromNowStr
          }),

          partial('application-summary/_applicant-checklist-summary', {
            condition: 'moved',
            conditionContent: content.hasMoved,
            verb: content.moved,
            cutoffDate: sixtyDaysAgoStr
          })

        );
        %>

        <% if (model.get('requireFinancialInfo')) { %>
          <div class="row header-fields hidden-xs spacer-top10">
            <div class="col-sm-4"><%- content.name %></div>
            <div class="col-sm-4"><%- content.currentHealthCoverage %></div>
            <div class="col-sm-4"><%- content.recentlyLostHealthCoverage %></div>
          </div>

          <% _.each(model.get('people'), function(person, i) { %>

            <div class="row table-row <%- (i === 0) ? 'first' : '' %>">

              <div class="col-xs-5 visible-xs header-field"><%- content.name %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.getFullName() %></div>

              <div class="col-xs-5 visible-xs header-field"><%- content.currentHealthCoverage %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- _.isEmpty(person.get('currentCoverage')) ? '-' : Grammar.buildConjunction(_.map(person.get('currentCoverage'), Grammar.titleize), content.and) %></div>

              <div class="col-xs-5 visible-xs header-field"><%- content.recentlyLostHealthCoverage %></div>
              <div class="col-xs-7 col-sm-4 spacer-bottom10"><%- person.get('lostCoverage') ? Grammar.capitalize(content.yes) : Grammar.capitalize(content.no) %></div>

            </div>
          <% }) %>
        <% } // end fin aid only section %>

        <% if (isTaxPenaltySepPeriod()) { %>
          <% if (model.get('isEligibleForTaxPenaltySep')) { %>
            <div class="row spacer-bottom10">
              <div class="col-sm-12">
                <%- Strings.format(content.isEligibleForTaxPenaltySep, model.get('coverageYear')) %>
              </div>
            </div>

            <div class="row spacer-bottom10">
              <div class="col-sm-12">
                <%
                  if (model.get('owePriorYearTaxPenalty')) {
                    print(Strings.format(content.owePriorYearTaxPenalty, model.get('coverageYear') - 1))
                  } else {
                    print(Strings.format(content.dontOwePriorYearTaxPenalty, model.get('coverageYear') - 1))
                  }
                %>
              </div>
            </div>
          <% } else { %>
            <div class="row spacer-bottom10">
              <div class="col-sm-12">
               <%- Strings.format(content.isNotEligibleForTaxPenaltySep, model.get('coverageYear')) %>
              </div>
            </div>
          <% } %>
        <% } // end tax penalty SEP period %>

      </div>
    </div>

    <fieldset class="attestations summary-information">
      <legend class="has-subtitle">
        <%- content.attestations.heading %>
      </legend>
      <p class="instructions">
        <%- content.attestations.instructions %>
      </p>

        <% if (model.get('requireFinancialInfo')) { %>
          <%= partial('forms/_filter-question', {
            label: content.attestations.medicaidRights,
            name: 'tendon:medicaidRightsAttestation',
            value: null,
            content: content,
            options: {
              help: content.attestationsHelp.medicaidRights
            }
          }) %>
          <% if (model.get('parentOutsideHousehold')) { %>
            <%= partial('forms/_filter-question', {
              label: content.attestations.absentParent,
              name: 'tendon:absentParentAttestation',
              value: null,
              content: content,
              options: {
                help: content.attestationsHelp.absentParent
              }
            }) %>
          <% } %>
        <% } %>
        <%= partial('forms/_filter-question', {
          label: content.attestations.informMarketplace,
          name: 'tendon:informMarketplaceAttestation',
          value: null,
          content: content,
          options: {
            help: content.attestationsHelp.informMarketplace
          }
        }) %>

    </fieldset>

    <fieldset class="summary-information">
      <legend class="has-subtitle">
        <%- content.esign.heading %>
      </legend>

      <p>
        <%= partial('forms/_filter-question', {
          label: content.attestations.perjury,
          name: 'tendon:perjuryAttestation',
          value: null,
          content: content
        }) %>
      </p>

      <p class="instructions">
        <%- Strings.format(content.esign.instructions, model.getSelf().getFullName()) %>
      </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <input class="form-control" type="text" name="esignature" placeholder="<%- content.fullName %>" aria-label="<%- content.fullName %>">
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row submit-button-container">
      <div class="form-group col-sm-6 col-sm-offset-3 col-md-offset-3 sign-button-wrapper">
        <button class="btn btn-lg btn-success btn-submit prefill-btn-final"><%- content.submitButton %></button>
      </div>
    </div>

    <div class="row submitting-button-container hidden">
      <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 progress-button">
        <div class="progress">
          <div class="progress-text-wrapper"><div class="progress-text"><%- content.submittingButton %>...</div></div>
          <div class="progress-success fadeable glyphicon glyphicon-ok"></div>
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 progress-button">
        <div class="submit-progress-message progress-information fadeable visible" aria-live="polite">&nbsp;</div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6 col-sm-offset-3 col-md-offset-3 sign-button-wrapper has-error text-center hidden submit-error-message">
        <p class="help-block error-message">
        </p>
      </div>
    </div>

    <div class="click-cover hidden"><% /* overlay to trap mouse clicks after submission */ %>
    </div>
  </div>
</div>



<div class="attestation-warning-modal modal fade out" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <form class="group">
      <div class="modal-header row">
        <div class="col-xs-12">
          <h2 class="sub pull-left"><%= content.attestations.warningHeader %></h2>
          <div class="glyphicon attestation-warning-close close" aria-hidden="true">
            <span class="glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-12">
          <p><%= content.attestations.warning %></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row">
          <button class="btn btn-md next pull-left attestation-warning-cancel">
            <%- content.attestations.warningCancel %>
          </button>
          <button class="btn btn-md btn-green next pull-right attestation-warning-continue">
            <%- content.attestations.warningContinue %>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
