<%
  // TODO(lorenyu): use moment.js library for all datetime stuff
  var sixtyDaysAgo = new Date(new Date().getTime() - 1000*60*60*24*60);
  var sixtyDaysAgoStr = (sixtyDaysAgo.getMonth()+1) + '/' + sixtyDaysAgo.getDate() + '/' + sixtyDaysAgo.getFullYear();
  var sixtyDaysFromNow = new Date(new Date().getTime() + 1000*60*60*24*60);
  var sixtyDaysFromNowStr = (sixtyDaysFromNow.getMonth()+1) + '/' + sixtyDaysFromNow.getDate() + '/' + sixtyDaysFromNow.getFullYear();
%>
<div class="blue-bg">
  <div class="lite-card-inner spacer-bottom20" aria-live="polite" aria-atomic="false">
    <% if (model.get('ffmId')) { %>
      <div class="pull-right"><%- content.applicationId + ': ' + model.get('ffmId') %></div>
    <% } %>
    <h1 class="sub"><%- content.specialEnrollmentTitle %></h1>
    <div class="subtitle"><%- content.specialEnrollmentSubtitle %></div>
  </div>
</div>
<div class="lite-card-inner container" aria-live="polite" aria-atomic="false">

  <fieldset>
    <legend><%- content.additionalCoverageQuestions %></legend>

    <% if (isTaxPenaltySepPeriod()) { %>
      <div class="tax-penalty-sep-question form-group filter-question">
        <div class="question-label"><%- Strings.format(content.taxPenaltySEP, model.get('coverageYear'), content.endOfOe2015) %></div>
        <div data-toggle="buttons" class="toggle-buttons">
          <a href="javascript:;" class="btn radio-label">
            <input type="radio" name="tendon:isEligibleForTaxPenaltySep" value="true" aria-label="<%- content.yes %>"> <%- content.yes %>
          </a>
          <a href="javascript:;" class="btn radio-label">
            <input type="radio" name="tendon:isEligibleForTaxPenaltySep" value="false" aria-label="<%- content.no %>"> <%- content.no %>
          </a>
        </div>
      </div>
      <div class="prior-year-tax-penalty-question form-group filter-question">
        <div class="question-label">
          <%= partial('help/_popover-highlight', {
            label: Strings.format(content.priorYearTaxPenalty, {year: model.get('coverageYear') - 1}),
            highlights: content.priorYearTaxPenaltyHighlights
          }) %>
        </div>
        <div data-toggle="buttons" class="toggle-buttons">
          <a href="javascript:;" class="btn radio-label">
            <input type="radio" name="tendon:owePriorYearTaxPenalty" value="true" aria-label="<%- content.yes %>"> <%- content.yes %>
          </a>
          <a href="javascript:;" class="btn radio-label">
            <input type="radio" name="tendon:owePriorYearTaxPenalty" value="false" aria-label="<%- content.no %>"> <%- content.no %>
          </a>
        </div>
      </div>
    <% } %>
  </fieldset>

  <fieldset class="special-enrollment-questions">
    <legend class="has-subtitle"><%- content.specialEnrollmentHeader %></legend>
    <p class="instructions">
      <%= content.specialEnrollmentInstructions %>
    </p>
    <div class="form-group">
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.lostCoverage, sixtyDaysAgoStr),
            question: 'lostCoverage',
            options: {
              autofocus: true,
              askForDate: {
                label: content.specialEnrollmentQuestions.whenLostCoverage,
                question: 'lostCoverageDate'
              },
              help: content.specialEnrollmentQuestions.lostCoverageHelp
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.willLoseCoverage, sixtyDaysFromNowStr),
            question: 'willLoseCoverage',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenWillLoseCoverage,
                question: 'willLoseCoverageDate',
                help: content.specialEnrollmentQuestions.whenWillLoseCoverageHelp
              }
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.gotMarried, sixtyDaysAgoStr),
            question: 'gotMarried',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenMarried,
                question: 'gotMarriedDate'
              }
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.released, sixtyDaysAgoStr),
            question: 'released',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenReleased,
                question: 'releasedDate'
              }
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.gainedImmigrationStatus, sixtyDaysAgoStr),
            question: 'gainedImmigrationStatus',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenGainedImmigrationStatus,
                question: 'gainedImmigrationStatusDate'
              }
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.adopted, sixtyDaysAgoStr),
            question: 'adopted',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenAdopted,
                question: 'adoptedDate'
              }
            }
          }) %>
      </div>
      <div>
         <%= partial('forms/_applicant-checklist', {
            model: model,
            label: Strings.format(content.specialEnrollmentQuestions.moved, sixtyDaysAgoStr),
            question: 'moved',
            options: {
              askForDate: {
                label: content.specialEnrollmentQuestions.whenMoved,
                question: 'movedDate'
              },
              askForZip: {
                label: content.specialEnrollmentQuestions.whereMoved,
                question: 'previousZipCode'
              }
            }
          }) %>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-3 col-md-offset-3 sign-button-wrapper">
      <button class="btn btn-lg btn-success btn-submit"><%- content.reviewApplication %></button>
    </div>
  </div>

</div>
