<div>
  <fieldset>
    <legend class="has-subtitle">
      <%- content.racelegend_text %>
      <small><%- content.racelegend2_text %></small>
    </legend>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn radio-label">
        <input type="radio" name="hispanic" value="true"> <%- content.hispanicRaceTypeYes %>
      </label>
      <label class="btn radio-label">
        <input type="radio" name="hispanic" value="true"> <%- content.hispanicRaceTypeNo %>
      </label>
    </div>

  </fieldset>
  <fieldset>
    <legend class="has-subtitle">
      <%- content.nonHispaniceRaceTypelegend_text %>
      <small><%- content.nonHispaniceRaceTypelegend2_text %></small>
    </legend>
      <div class="row">
        <div class="col-md-8">
          <%
          // TODO(kalvin): integrate with Person.Race enum in Person model
          var races = [
            "alaskanNative",
            "africanAmerican",
            "chinese",
            "filipino",
            "chamorro",
            "japanese",
            "korean",
            "hawaiian",
            "otherAsian",
            "otherPacificIslander",
            "samoan",
            "vietnamese",
            "white"
          ];

           _.each(races, function(race, i) {
              // Match existing label names instead of just changing them in the .json, in case they matter.
              raceLabel = "nonHispaniceRaceType" + race[0].toUpperCase() + race.substring(1) + "_text";

          %>
          <div class="input-group">
            <label class="control-label checkbox-label">
              <span class="input-group-addon">
                <input type="checkbox" name="races" value="<%- race %>">
              </span>
              <%- content[raceLabel] %>
            </label>
          </div>
          <% }); %>

          <div class="input-group">
              <label class="control-label checkbox-label">
                <span class="input-group-addon">
                  <input type="checkbox" name="races" value="other">
                </span>
                <%- content.other %>:
              </label>
              <span class="input-group-addon other-input-textbox">
                <input class="form-control" name="otherRaceText" type="text" value="" maxlength="25">
              </span>
          </div>

        </div>
    </div>
  </fieldset>
</div>
