<div class="lite-card-inner" aria-live="polite" aria-atomic="false">

<div id="error" class="alert alert-danger hidden">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="error-message"><%- content.error %></span>
</div>

  <fieldset>
    <legend class="has-subtitle"><%- content.ridpTitle %></legend>
    <p><small>
      <%= content.ridpDescription %>
      <%= partial('help/_popover-label', {
        label: content.ridpDescriptionHelp.label,
        content: content.ridpDescriptionHelp.content,
        options: {
          escapePopover: false,
          externalLink: content.ridpDescriptionHelp.externalLink,
          externalText: content.ridpDescriptionHelp.externalText
        }
      }) %>
    </small></p>

    <% /* TODO(david): This part copy-pasted from non-fa-last-step.html.
    Refactor into partial. */ %>
    <div class="row">
      <div class="form-group col-sm-4">
        <input class="form-control" name="tendon:firstName"
            autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false" autofocus
            type="text" maxlength="20" placeholder="<%- content.firstName %>" aria-label="<%- content.firstName %>">
      </div>
      <div class="form-group col-sm-2">
        <input class="form-control" name="tendon:middleName"
            autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false"
            type="text" maxlength="20" placeholder="<%- content.middleName %>" aria-label="<%- content.middleName %>">
      </div>
      <div class="form-group col-sm-6">

        <div class="input-group">
          <input class="form-control" name="tendon:lastName"
            autocorrect="off" autocapitalize="on" autocomplete="off" spellcheck="false"
            type="text" maxlength="25" placeholder="<%- content.lastName %>" aria-label="<%- content.lastName %>">

          <%= partial('forms/_name-suffix', { id: 'name-suffix-dropdown', name: 'tendon:suffix' }) %>
        </div><!-- /input-group -->
      </div>
    </div>

    <% /* TODO(david): This part also copy-pasted from non-fa-last-step.html.
    Refactor into partial. */ %>
    <div class="form-section row">
      <div class="form-group col-sm-4">
        <div class="header-label"><%- content.phoneNumber %></div>
        <div class="input-group">
          <input class="form-control" name="tendon:phoneNumber" type="tel"
            placeholder="XXX-XXX-XXXX" aria-label="<%- content.phoneNumber %>" data-mask="999-999-9999">
          <%= partial('forms/_input-group-dropdown', {
            id: 'phone-type-dropdown',
            name: 'tendon:phoneType',
            label: content.phoneType,
            menuItems: [
              { value: 'home', text: content.home },
              { value: 'mobile', text: content.mobile },
              { value: 'work', text: content.work }
            ]
          }) %>
        </div>

        <!-- TODO(kalvin): modify tendon and get rid of hidden checkbox -->
        <!-- TODO(benkomalo): not saved on the model yet. The old
              UI had "phoneType". Figure out what's actually needed in FFM. -->
        <input type="checkbox" class="hidden" name="isPhoneNumberCellphone">
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <div class="header-label"><%- content.dob %></div>
        <input class="form-control" name="tendon:dob"
            type="tel" maxlength="25" placeholder="MM/DD/YYYY" aria-label="<%- content.dob %>"
            data-mask="99/99/9999">
      </div>
    </div>


    <div class="form-section row">
      <div class="form-group col-sm-9">
        <input class="form-control" name="tendon:streetName"
            type="text" maxlength="60" placeholder="<%- content.address1 %>" aria-label="<%- content.address1 %>">
      </div>
      <div class="form-group col-sm-3">
        <input class="form-control" name="tendon:apartment"
            type="text" maxlength="60" placeholder="<%- content.address2 %>" aria-label="<%- content.address2 %>">
      </div>
      <div class="form-group col-sm-4">
        <input class="form-control" name="tendon:city"
            type="text" maxlength="20" placeholder="<%- content.city %>" aria-label="<%- content.city %>">
      </div>
      <div class="form-group col-sm-3">
        <%= partial('forms/_dropdown', {
          id: 'state-dropdown',
          name: 'tendon:state',
          label: 'State',
          menuItems: [
            { value: 'AL', text: 'Alabama' },
            { value: 'AK', text: 'Alaska' },
            { value: 'AZ', text: 'Arizona' },
            { value: 'AR', text: 'Arkansas' },
            { value: 'CA', text: 'California' },
            { value: 'CO', text: 'Colorado' },
            { value: 'CT', text: 'Connecticut' },
            { value: 'DE', text: 'Delaware' },
            { value: 'DC', text: 'District of Columbia' },
            { value: 'FL', text: 'Florida' },
            { value: 'GA', text: 'Georgia' },
            { value: 'HI', text: 'Hawaii' },
            { value: 'ID', text: 'Idaho' },
            { value: 'IL', text: 'Illinois' },
            { value: 'IN', text: 'Indiana' },
            { value: 'IA', text: 'Iowa' },
            { value: 'KS', text: 'Kansas' },
            { value: 'KY', text: 'Kentucky' },
            { value: 'LA', text: 'Louisiana' },
            { value: 'ME', text: 'Maine' },
            { value: 'MD', text: 'Maryland' },
            { value: 'MA', text: 'Massachusetts' },
            { value: 'MI', text: 'Michigan' },
            { value: 'MN', text: 'Minnesota' },
            { value: 'MS', text: 'Mississippi' },
            { value: 'MO', text: 'Missouri' },
            { value: 'MT', text: 'Montana' },
            { value: 'NE', text: 'Nebraska' },
            { value: 'NV', text: 'Nevada' },
            { value: 'NH', text: 'New Hampshire' },
            { value: 'NJ', text: 'New Jersey' },
            { value: 'NM', text: 'New Mexico' },
            { value: 'NY', text: 'New York' },
            { value: 'NC', text: 'North Carolina' },
            { value: 'ND', text: 'North Dakota' },
            { value: 'OH', text: 'Ohio' },
            { value: 'OK', text: 'Oklahoma' },
            { value: 'OR', text: 'Oregon' },
            { value: 'PA', text: 'Pennsylvania' },
            { value: 'PR', text: 'Puerto Rico' },
            { value: 'RI', text: 'Rhode Island' },
            { value: 'SC', text: 'South Carolina' },
            { value: 'SD', text: 'South Dakota' },
            { value: 'TN', text: 'Tennessee' },
            { value: 'TX', text: 'Texas' },
            { value: 'UT', text: 'Utah' },
            { value: 'VT', text: 'Vermont' },
            { value: 'VA', text: 'Virginia' },
            { value: 'WA', text: 'Washington' },
            { value: 'WV', text: 'West Virginia' },
            { value: 'WI', text: 'Wisconsin' },
            { value: 'WY', text: 'Wyoming' }
          ],
          options: { defaultText: content.selectState }
        }) %>
      </div>
      <div class="form-group col-sm-2">
        <input class="form-control" name="tendon:zipCode"
            type="tel" maxlength="5" placeholder="<%- content.zipCode %>" aria-label="<%- content.zipCode %>">
      </div>
    </div>

    <!-- TODO(ldchang): We use tel with DOB & SSN because type=number stops masked-input from working -->
    <div class="form-section row">
      <div class="form-group col-sm-4 col-md-3">
        <div class="header-label">
          <%= partial('help/_popover-label', {
            label: content.ssn,
            content: content.ssnHelp
          }) %>
        </div>
        <input class="form-control help-input" name="tendon:ssn"
            type="tel" maxlength="25" placeholder="XXX-XX-XXXX" aria-label="<%- content.ssn %>"
            data-mask="999-99-9999">
      </div>
    </div>

  </fieldset>

  <div class="row">
    <div class="form-group col-sm-6 col-md-offset-3 sign-button-wrapper">
      <button class="btn btn-lg btn-success btn-submit get-questions"
          data-action="get-questions"><%- content.continueApplication %></button>
    </div>
  </div>

</div>
