<div class="warn-timeout modal fade" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <form class="group">
      <div class="modal-header row">
        <div class="col-xs-12">
          <h2 class="sub pull-left"><%- content.areYouStillThere %></h2>
          <div class="glyphicon close" aria-hidden="true" data-dismiss="modal">
            <span class="glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-12">
          <p><%- content.clickContinueToContinueApplication %></p>
          <p><%- content.weWillLogYouOutInAFewMinutes %></p>
        </div>
      </div>
      <div class="modal-footer">
        <input title="<%- content.logoutNowButton %>"
               class="btn btn-md btn-yellow next pull-left btn-logout"
               type="cancel"
               value="<%- content.logoutNowButton %>"/>
        <input title="<%- content.continueButton %>"
               data-dismiss="modal"
               class="btn btn-md btn-green next pull-right"
               type="cancel"
               value="<%- content.continueButton %>"/>
      </div>
    </form>
  </div>
</div>
