<div class="col-sm-3 col-xs-12">
  <div class="form-group">
    <%= partial('forms/_dropdown', {
      id: 'deduction-type-dropdown-' + i,
      name: 'tendon:people[' + personIndex + '].deductions[' + i + '].type',
      label: content.type,
      menuItems: _.map(Deduction.TYPES, function(value) {
        return { value: value, text: content.deductionTypes[value] };
      }),
      options: { defaultText: content.type, dropdownToggleClassName: 'form-control deduction-type-dropdown' }
    }) %>
  </div>
</div>
<div class="form-group col-sm-3 col-xs-12 hidden-other-type hidden">
  <input name="tendon:people[<%- personIndex %>].deductions[<%-i%>].otherType" class="form-control" type="text" value="" maxlength="50" placeholder="<%- content.deductionType %>" aria-label="<%- content.deductionType %>">
</div>
<div class="col-sm-6 col-xs-12 amount-container">
  <div class="form-group">
    <div class="controls input-group">
      <span class="input-group-addon">$</span>
      <input name="tendon:people[<%- personIndex %>].deductions[<%-i%>].amount" data-type="number" class="form-control" type="text" value="" maxlength="10" placeholder="<%- content.amount %>" aria-label="<%- content.amount %>">
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-12">
  <div class="form-group">
    <%= partial('forms/_dropdown', {
      id: 'frequency-dropdown-' + i,
      name: 'tendon:people[' + personIndex + '].deductions[' + i + '].frequency',
      label: content.frequency,
      menuItems: _.map(Deduction.FREQUENCIES, function(value) {
        return { value: value, text: content.frequencies[value] };
      }),
      options: { defaultText: content.frequency }
    }) %>
  </div>
</div>
