<section class="footer-wrap">
  <footer class="sub-footer">
  	<ul class="clearfix">
  		<li><a href="https://www.healthcare.gov/"><img src="{{site.baseurl}}/images/HealthcareGovFooterLogo.png" /></a></li>
  		<li>{{ t.[page.lang].footer.manage }} {{ t.[page.lang].footer.address }}</li>
  		<li><a href="{{ t.[page.lang].footer.feedback-url }}">{{ t.[page.lang].footer.feedback }}</a></li>
  	</ul>
  </footer>
  <footer class="mobile-sub-footer">
  	<div><a href="https://www.healthcare.gov/"><img src="{{site.baseurl}}/images/HealthcareGovFooterLogo.png" /></a></div>
  	<p>
  		{{ t.[page.lang].footer.manage }}
  	</p>
  	<p>
  		{{ t.[page.lang].footer.address }}<a href="{{ t.[page.lang].footer.feedback-url }}">{{ t.[page.lang].footer.feedback }}</a>
  	<p>
  </footer>
</section>