<section class="footer-wrap">
  <footer class="sub-footer" aria-label="footer" role="contentinfo">
  	<ul class="clearfix">
  		<li><a href="https://www.healthcare.gov/"><img src="{{site.baseurl}}/images/HealthcareGovFooterLogo.png" alt="healthcare.gov"/></a></li>
  		<li>{{ t.[page.lang].footer.manage }} {{ t.[page.lang].footer.address }}</li>
  		<li><span><a href="{{ t.[page.lang].footer.feedback-url }}">{{ t.[page.lang].footer.feedback }}</a></span></li>
  	</ul>
  </footer>
  <footer class="mobile-sub-footer" aria-label="footer" role="contentinfo">
  	<div><a href="https://www.healthcare.gov/"><img src="{{site.baseurl}}/images/HealthcareGovFooterLogo.png" alt="healthcare.gov"/></a></div>
  	<p>
  		{{ t.[page.lang].footer.manage }}
  	</p>
  	<p>
  		{{ t.[page.lang].footer.address }}<span><a href="{{ t.[page.lang].footer.feedback-url }}">{{ t.[page.lang].footer.feedback }}</a></span>
  	<p>
  </footer>
</section>