<a href="#skipnav" class="show-on-focus"> Skip navigation </a>
<section class="header-wrap affix-top" data-spy="affix">
  <header class="container site-header clearfix" role="banner">

  	{% comment %}<!-- Site Title and Logo -->{% endcomment %}
  	<div class="logo">
	  	<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/styleguide_logo.png" /></a>
	</div>

  	{% comment %}<!-- Navigation -->{% endcomment %}
	<nav class="navbar navbar-default">
	  	<a class="github-link" href="https://github.com/CMSgov/cmsgov.github.io"><img src="{{site.baseurl}}/images/RepoIcon.png" /></a>
	  	<ul class="clearfix">
		  	{% for navItem in t.[page.lang].header.nav %}
		  		<li><a class="{% if navItem.location == page.url %}current{% endif %}" href="{{site.baseurl}}{{ navItem.location }}">{{ navItem.link }}</a></lI>
		  	{% endfor %}
	  	</ul>
	</nav>

	{% comment %}<!-- Responsive Hamburger Menu-->{% endcomment %}
	<div class="mobile-menu-btn-wrapper">
	    <a href="#" class="mobile-menu-btn">
	    	<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		</a>
	</div>
  </header>
</section>
<a name="skipnav"></a>
