<section class="header-wrap">
  <header class="container site-header clearfix" role="banner">

  	{% comment %}<!-- Site Title and Logo -->{% endcomment %}
  	<div class="logo">
	  	<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/styleguide_logo.png" alt="styleguide.healthcare.gov"/></a>
	</div>

  	{% comment %}<!-- Navigation -->{% endcomment %}
	<nav class="navbar navbar-default" aria-label="main" role="navigation">
	  	<ul>
		  	{% for nav-link in site.data.nav-links %}
		  		<li><a class="{% if nav-link.title == page.section %}current{% endif %}" href="{{site.baseurl}}{{ nav-link.location }}">{{ nav-link.link }}</a></lI>
		  	{% endfor %}
	  	</ul>
	  	<a class="github-link" href="https://github.com/CMSgov/HealthCare.gov-Styleguide"><img src="{{site.baseurl}}/images/RepoIcon.png" alt="github repo"/></a>
	  	<div class="clearfix"></div>
	</nav>

	{% comment %}<!-- Responsive Hamburger Menu-->{% endcomment %}
	<div class="mobile-menu-btn-wrapper">
	    <a href="#" class="mobile-menu-btn">
	    	<img src="{{site.baseurl}}/images/HamburgerMenu.png" alt="Menu"/>
	    </a>
	</div>
  </header>
</section>
<a name="skipnav"></a>
<div class="header-space"></div>
