<section class="header-wrap">
  <header class="site-header clearfix" role="banner">

  	{% comment %}<!-- Site Title and Logo -->{% endcomment %}
  	<div class="logo clearfix">
	  	<img src="{{site.baseurl}}/images/OfficialLogo.png" />
		<span class="title">{{ t.[page.lang].header.title }}</span>
	</div>

  	{% comment %}<!-- Navigation -->{% endcomment %}
	<nav class="navbar navbar-default">
	  	<ul class="clearfix">
		  	{% for navItem in t.[page.lang].header.nav %}
		  		<li><a href="{{site.baseurl}}{{ navItem.location }}">{{ navItem.link }}</a></lI>
		  	{% endfor %}
	  	</ul>
	</nav>
  </header>
</section>