<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				{% for home-campaign-item in site.data.home-campaign-items %}
				<h1>
					{{ home-campaign-item.title }} <br />
					{{ home-campaign-item.title-two }}
				</h1>
				<span class="subtitle">{{ home-campaign-item.description }}</span>
				{% endfor %}
			</div>
			<div class="col-sm-6">
				<img src="{{site.baseurl}}/images/MonitorTabletMobile.png" alt="" />
			</div>
		</div>
	</div>
</div>