<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2>{{ t.[page.lang].home-secondary.title }}</h2>
		</div>
		<div class="col-sm-8">
			<p>{{ t.[page.lang].home-secondary.description }}</p>
			<div class="hr"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>{{ t.[page.lang].home-secondary.breakdown.title }}</h3>
			{{ t.[page.lang].home-secondary.breakdown.text | append: "" | markdownify }}
		</div>
		{% for box in t.[page.lang].home-secondary.boxes %}
			<div class="col-sm-4">
				<a href="{{ site.baseurl }}{{ box.location }}" class="deep-dive-link {{ box.css-class }}">
					<span class="title"><span class="glyphicon glyphicon-plus"></span>{{ box.title }}</span>
					<span class="description">
						<h4>{{ box.subtitle }}</h4>
						<span>{{ box.description}}</span>
					</span>
				</a>
			</div>
		{% endfor %}
	</div>
</div>