<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2>A Unified Experience</h2>
		</div>
		<div class="col-sm-8">
			<p>The HealthCare.gov Styleguide provides a general overview of the major styles, page layouts, assets, and editorial guidelines for HealthCare.gov. This site is primarily geared to HealthCare.gov team designers, developers and copywriters to ensure that the design of all future styles, interfaces, and page layouts adhere to the general guidelines outlined.</p>
			<div class="hr"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>Breakdown</h3>
			<p><a href="#">Visual styles</a> lipsum dollir sit amet inventore veritatis laudantium et quasi <a href="#">assets</a> beatae vitae dicta nemo enim ipsam voice and tone or content eos quirati.</p>
		</div>
		<div class="col-sm-8">
			<a href="#"><div class=""></div></a>
		</div>
	</div>
</div>