<div class="col-sm-3">
	<div class="subnav-wrapper">
		<ul class="subnav">
			{% comment %}<!-- Variable Assignment -->{% endcomment %}
			{% assign subNav = false %}
			{% assign currentCategory = "" %}
			{% assign currentURL = page.url %}	

			{% for post in site.posts reversed %}
				{% comment %}<!-- Iterate Over Pages that match landing page / section -->{% endcomment %}
				{% if post.section == page.section and post.layout != "landing-page" %}

					{% comment %}<!-- Starting a new subcategory -->{% endcomment %}
					{% if currentCategory != post.nav-category and post.nav-category != nil %}
						{% if subNav == true%}
								</li>
							</ul>
						{% endif %}
						{% assign subNav = true %}
						{% assign currentCategory = post.nav-category %}
						<li><span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span><a class="toggle-interior-nav" href="javascript:;">{{ post.nav-category }}</a>
							<ul class="tertiary-nav">
								<li><a class="{% if currentURL == post.url %}current{% endif %}" href="{{site.baseurl}}{{ post.url }}">{{ post.nav-title }}</a></li>

					{% comment %}<!-- No subcategory -->{% endcomment %}
					{% elsif post.nav-category == nil %}
						{% if subNav == true %}
								</ul>
							</li>
						{% endif %}
						<li><a class="{% if currentURL == post.url %}current{% endif %}" href="{{site.baseurl}}{{ post.url }}">{{ post.nav-title }}</a></li>
						{% assign subNav = false %}

					{% comment %}<!-- Inside subcategory -->{% endcomment %}
					{% else %}
						<li><a class="{% if currentURL == post.url %}current{% endif %}" href="{{site.baseurl}}{{ post.url }}">{{ post.nav-title }}</a></li>
					{% endif %}
			  	{% endif %}
			{% endfor %}

			{% comment %}<!-- Cleanup if last link was inside subcategory -->{% endcomment %}
			{% if subNav == true%}
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>

	{% if page.section != 'governance' || page.section != 'about'%}
		<div class="mobile-subnav-wrapper">
			<select class="form-control" name="dropdown-name" aria-label="menu" data-type="" onchange="location = this.options[this.selectedIndex].value;">
				<option value="">Menu</option>
				{% for post in site.posts reversed %}
					{% comment %}<!-- Iterate Over Pages that match landing page / section -->{% endcomment %}
					{% if post.section == page.section and post.layout != "landing-page" %}
						<option value="{{site.baseurl}}{{ post.url }}">{{ post.nav-title }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	{% endif %}
</div>