/*
Syntax error: Invalid CSS after "(padding)": expected expression (e.g. 1px, bold), was ";"
        on line 15 of /Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/_typography.sass
        from line 6 of /Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/style.sass

Backtrace:
/Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/_typography.sass:15
/Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/style.sass:6
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/lexer.rb:199:in `expected!'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/parser.rb:486:in `assert_done'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/script/parser.rb:87:in `parse_mixin_include_arglist'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:861:in `parse_mixin_include'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:666:in `parse_directive'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:566:in `parse_line'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:471:in `build_tree'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:490:in `block in append_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:489:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:489:in `append_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:480:in `block in build_tree'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:473:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:473:in `build_tree'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:490:in `block in append_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:489:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:489:in `append_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:345:in `_to_tree'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:274:in `to_tree'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/bin/compass:23:in `load'
/Users/njoyce/.rvm/gems/ruby-1.9.3-p194/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(padding)\": expected expression (e.g. 1px, bold), was \";\"\A         on line 15 of /Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/_typography.sass\A         from line 6 of /Users/njoyce/git/GitHub-Pages-Boilerplate/library/sass/style.sass"; }
