<%
  // TODO(kalvin): display the exact user-entered date that a condition occurred, instead of the default "on or after" language
  // TODO(kalvin): display the zip code that a user moved to, if the user selected the zip code SEP
  var peopleWithX =
    _.filter(model.get('people'), function(person) { return person.get(condition); });

 if (_.isEmpty(peopleWithX)) { %>
    <div class="row spacer-bottom10">
      <div class="col-sm-12">
        <%- Strings.format(
          conditionContent,
          content.noOne,
          verb.singular,
          cutoffDate
        ) %>
      </div>
    </div>
  <% } else { %>
    <div class="row spacer-bottom10">
      <div class="col-sm-12">
        <%- Strings.format(
          conditionContent,
          Grammar.buildConjunction(
            _.invoke(peopleWithX, 'getFullName'),
            content.and
          ),
          Grammar.pluralize(
            verb.singular,
            peopleWithX.length,
            verb.plural
          ),
          cutoffDate
        ) %>
      </div>
    </div>
  <% }
%>
