@mainWidth:1162px;

* {
    color:#333;
    font-family:"Open Sans",sans-serif;
    margin:0;
	padding:0;
}

.clearfix:after { 
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

ol, ul{
	padding: 0 0 0 20px;
}

p{
	line-height: 24px;
	margin: 0 0 20px 0;

	a{
		border-bottom:1px solid transparent;

		&:hover{
			text-decoration:none;
			border-bottom:1px solid #0c648c;
		}
	}
}

h1 {
	color:#333;
	font-family:"Bitter","Georgia",serif;
	font-size:34px;
	font-weight:400;
	margin-top:0;

}

h2 {
	color:#333;
	font-family:"Bitter","Georgia",serif;
	font-size:22px;

}

h3 {
	color:#333;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
}

.banner {
	background:#006093;
}

.subnav {
	margin:0;
	padding:0;
	list-style-type:none;
}

.subnav a {

	display:inline-block;
	margin:10px;
	font-weight:bold;
	text-transform:capitalize;
}

.subnav .active a { color:#333;}

.subnav .glyphicon {
	a{
		display:inline-block;
		margin:10px;
		font-weight:bold;
		text-transform:capitalize;
	}

	.active{
		a{
			color:#333;
		}
	}

	.glyphicon{
		color: #999;
		display:inline-block;
		margin-left:-14px;
	}

	ul{
		margin:0;
		padding:0 0 0 16px;
		list-style-type:none;
	}
}

.hr {
	margin:36px 0 28px;
	background-image:url("../../images/hr-pattern.png");
	width:100%;
	height:8px;
}

@media (min-width: @screen-sm-min) {
	.banner { margin-bottom:35px; }
}