#detail-page {
	
	padding-bottom:20px;

	.full { width: 100%; margin-bottom: 20px; }
	.half { width: 48%; }

	.usage .full {margin: 20px 0 10px;}

	.caption {
		margin-bottom:10px;
		text-decoration: uppercase;
	}

	@media (min-width: @screen-sm-min) {

		padding-bottom:70px;

	}
}