// Used to break up the footer for mid range widths
@screen-footer-tablet: 1080px;

.footer-wrap{
	background:#070707;
	text-align:center;
	padding: 18px 0;

	footer{

		ul{
			display:inline-block;
			margin:0;
			vertical-align:middle;

			li{
				list-style: none;
				float:left;
				font-size: 12px;
				line-height: 12px;
				padding:0 0 0 15px;
				border-left: #dedede 1px solid;
				margin:0 0 0 15px;
				color:#dedede;

				&:first-child{
					padding:0;
					border:none;
					margin:0;
				}

				img{
					width:116px;
					height:14px;
				}

				a{
					color:#dedede;
					text-decoration:none;

					&:hover{
						color:#fff;
						text-decoration:underline;
					}
				}
			}
		}
	}

	.mobile-sub-footer{
		display:none;

		>div{
			margin: 0 0 5px 0;
		}

		p{
			margin:0;
			color:#fff;
			font-size: 12px;
			line-height: 16px;

			a{
				color:#fff;
				display:inline-block;
				border-left:#fff 1px solid;
				padding:0 0 0 8px;
				margin:0 0 0 8px;
				line-height:10px;
			}
		}
	}
}

@media (max-width: @screen-footer-tablet){
	.footer-wrap{
		padding: 12px 0;

		.sub-footer{
			display:none;
		}

		.mobile-sub-footer{
			display:block;
		}
	}
}