#landing-page {

	.banner{
		height:84px;
	}

	h1, .h1, h2, .h2, h3, .h3 {

		font-family: "Bitter", "Georgia", serif;

	}

	#hc-gov-assets {
	 	h1 { 
			margin-top: 0px;
			margin-bottom: 10px;
			font-size: 34px;
		}

		hr { border-top:1px solid #d9d9d9; }
	}

	.container{
		.col-sm-3{
			padding-top:20px;
		}

		.col-sm-9{
			padding-top:35px;           
		}
        
        .governance {
            width: 75%;
            margin: 0 auto;
            float: none;
            padding-top:35px;
            
        }
	}

    

	padding-bottom:90px;
	img { margin-top:36px; width: 100%; }

	.intro { font-size:18px; line-height:31px; }
}

.landing-page-title {

	display:block;
	margin:15px 0;
	color:#fff;
	font-family:"Bitter","Georgia",serif;
	font-size:38px;
	font-weight:400;
	text-transform:capitalize;
}