#landing-page {

	padding-bottom:90px;
	img { margin-top:36px; width: 100%; }

}

.landing-page-title {

	display:block;
	margin:15px 0;
	color:#fff;
	font-family:"Bitter","Georgia",serif;
	font-size:38px;
	font-weight:400;
	text-transform:capitalize;
}