<script>
  $(document).ready(function () {
    var APP_ROOT = '/marketplace/lite/';
    var now = new Date();
    var suffix = now.toISOString().replace(/:/g, '-').replace(/\..*/g, '');
    window.inbox = 'ezapp-test-' + suffix;
    window.email = inbox + '@mailinator.com';
    $('#email')[0].value = email;
    $('#userName')[0].value = email.split('@')[0];    
    $('#inbox-container').hide();

    // TODO(brandon): move these to backends.js or similar...
    window.createAccount = function() {
      $('#account-creation-message').text('Creating account...');
      var email = $('#email')[0].value;
      var userName = $('#userName')[0].value;
      var password = $('#password')[0].value;

      var data = {
        firstName: 'Brandon',
        middleName: '',
        lastName: 'Ballinger',
        suffix: '',
        email: email,
        password: password,
        userName: userName,
        subscriptionTrigger: true,
        stateLivedIn: 'AL',
        language: 'en_US',
        securityQuestions: [
        {
          'question': 'What is your favorite radio station?',
          'answer': 'A'
        },
        {
          'question': 'What was your favorite toy when you were a child?',
          'answer': 'B'
        },
        {
          'question': 'What is your favorite cuisine?',
          'answer': 'C'
        }
        ]
      };

      $.ajax({
        type: "POST",
        url: APP_ROOT + "data/accounts/new",
        contentType: 'application/json',
        data: JSON.stringify(data),
        complete: function(data, s, xhr) {
          $('#account-creation-message').text('HTTP ' + data.status + ': ' + data.responseText);
        }});
    }

    window.openInbox = function() {
      window.inbox = $('#email')[0].value.split('@')[0];
      var url = 'http://mailinator.com/inbox.jsp?to=' + window.inbox;
      var inboxWindow = window.open(url,'name','width=800,height=700');
      if (window.focus) {
        inboxWindow.focus();
      }
    }

    window.writeApp = function() {
      // TODO(randy): figure out how this should work.
      var data = '';
      $.ajax({
        type: 'PUT',
        url: APP_ROOT + 'data/appplication/12345678',
        data: data,
        complete: function(data, s, xhr) {
          $('#write-app-message').text('HTTP ' + data.status + ': ' + data.responseText);
        }});
    }
  });
</script>

<div class="lite-card">
  <!-- FIXME(brandon): i18n -->
  <!-- TODO(brandon|ben): a11y -->

  <h2>Backend Test</h2>
  <p>
    This page lets you create an account, application, and view plan compare,
    in order to verify that all backend integrations are working.
  </p>
  <p>
    <b>
      Warning: this page actually writes data to the test backends!
      Please use it sparingly.
    </b>
  </p>

  <p>
  <h2>Create an Account</h2>
  <p></p>
  <fieldset>
    <div class="row">
      <div class="form-group col-md-8 col-sm-8">
        <input class="form-control" id="email" name="email" type="text"
            maxlength="25" placeholder="<%- content.email_text %>">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8 col-sm-8">
        <input class="form-control" id="userName" name="userName" type="text"
            maxlength="25" placeholder="User Name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8 col-sm-8">
        <input class="form-control" id="password" name="password" type="password"
            maxlength="25" value="WinterIsComing1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6" style="color:#063346" id="account-creation-message"></div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-green btn-large pull-right" onclick="createAccount()">Create Account</a>
      </div>
    </div>
  </fieldset>

  <p><br>
  <h2>Verify Your Email and Log In</h2>
  <p>Click the verification link in the message "Marketplace Account Created" and log in to your account.</p>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <a class="btn btn-green btn-large pull-right" onclick="openInbox()">Open inbox</a>
    </div>
  </div>
  <div id="inbox-container">
    <iframe id="inbox" src="" width=700 height=400>
    </iframe>
  </div>

  <p><br>
  <h2>Create an Insurance Application</h2>
  <p>Write an app into the FFM using the MarkLogic REST API.</p>
  <div class="row">
    <div class="col-md-6 col-sm-6" style="color:#063346" id="account-creation-message"></div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-green btn-large pull-right" onclick='writeApp()'>Write app to MarkLogic</a>
    </div>
  </div>

  <p><br>
  <h2>View Plan Compare</h2>
  <p>Actually see plans.</p>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <a href="https://www.healthcare.gov/marketplace/auth/AK/en_US/planCompare?a=217007817" 
        class="btn btn-green btn-large pull-right">View Plan Compare</a>
    </div>
  </div>
</fieldset>
</div>
