<div class="lite-card-inner" aria-live="polite" aria-atomic="false">
  <% if (model.get('ffmId')) { %>
    <div class="pull-right"><%- content.applicationId + ': ' + model.get('ffmId') %></div>
  <% } %>
  <h1 class="sub"><%- content.screenerHeading %></h1>
  <div class="subtitle">
    <%- content.screenerInstructions %>
    <span class="current-state"><%= content.screenerCurrentState %></span>
  </div>
  <div>
    <form class="form-inline">
      <div class="state-update hidden">
        <div class="question">
          <div class="question-label"><%- content.askWhichState %></div>
          <%= partial('forms/_dropdown', {
            id: 'coverage-state',
            name: 'tendon:coverageState',
            label: 'State',
            menuItems: [
              { value: '', text: content.selectState },
              { value: 'AL', text: 'Alabama' },
              { value: 'AK', text: 'Alaska' },
              { value: 'AS', text: 'American Samoa' },
              { value: 'AZ', text: 'Arizona' },
              { value: 'AR', text: 'Arkansas' },
              { value: 'CA', text: 'California' },
              { value: 'CO', text: 'Colorado' },
              { value: 'CT', text: 'Connecticut' },
              { value: 'DE', text: 'Delaware' },
              { value: 'DC', text: 'District of Columbia' },
              { value: 'FL', text: 'Florida' },
              { value: 'GA', text: 'Georgia' },
              { value: 'GU', text: 'Guam' },
              { value: 'HI', text: 'Hawaii' },
              { value: 'ID', text: 'Idaho' },
              { value: 'IL', text: 'Illinois' },
              { value: 'IN', text: 'Indiana' },
              { value: 'IA', text: 'Iowa' },
              { value: 'KS', text: 'Kansas' },
              { value: 'KY', text: 'Kentucky' },
              { value: 'LA', text: 'Louisiana' },
              { value: 'ME', text: 'Maine' },
              { value: 'MD', text: 'Maryland' },
              { value: 'MA', text: 'Massachusetts' },
              { value: 'MI', text: 'Michigan' },
              { value: 'MN', text: 'Minnesota' },
              { value: 'MS', text: 'Mississippi' },
              { value: 'MO', text: 'Missouri' },
              { value: 'MT', text: 'Montana' },
              { value: 'NE', text: 'Nebraska' },
              { value: 'NV', text: 'Nevada' },
              { value: 'NH', text: 'New Hampshire' },
              { value: 'NJ', text: 'New Jersey' },
              { value: 'NM', text: 'New Mexico' },
              { value: 'NY', text: 'New York' },
              { value: 'NC', text: 'North Carolina' },
              { value: 'ND', text: 'North Dakota' },
              { value: 'MP', text: 'N. Mariana Islands' },
              { value: 'OH', text: 'Ohio' },
              { value: 'OK', text: 'Oklahoma' },
              { value: 'OR', text: 'Oregon' },
              { value: 'PA', text: 'Pennsylvania' },
              { value: 'PR', text: 'Puerto Rico' },
              { value: 'RI', text: 'Rhode Island' },
              { value: 'SC', text: 'South Carolina' },
              { value: 'SD', text: 'South Dakota' },
              { value: 'TN', text: 'Tennessee' },
              { value: 'TX', text: 'Texas' },
              { value: 'UT', text: 'Utah' },
              { value: 'VT', text: 'Vermont' },
              { value: 'VI', text: 'Virgin Islands' },
              { value: 'VA', text: 'Virginia' },
              { value: 'WA', text: 'Washington' },
              { value: 'WV', text: 'West Virginia' },
              { value: 'WI', text: 'Wisconsin' },
              { value: 'WY', text: 'Wyoming' }
            ],
            options: {
              className: 'filter-question state-input',
              selectedOption: content.selectState
            }
          }) %>
        </div>
      </div>
      <%= partial('forms/_existing-applications-check', {}) %>
      <div class="state-results-container">
        <div class="state-success-container">
          <div class="question">
            <div class="question-text">
              <%= partial('help/_popover-label', {
                label: content.askIsMarried,
                content: content.askIsMarriedHelp,
                options: { append: true, escapePopover: false }
              }) %>
            </div>
            <div class="btn-group filter-question clearfix">
              <%= partial('forms/_toggle-buttons', {
                name: 'isMarried',
                items: [
                  {value: false, label: content.single},
                  {value: true, label: content.married}
                ],
                options: {
                  selectedValue: model.get('isMarried'),
                }
              }) %>
            </div>
          </div>
          <div class="question">
            <div class="question-label">
              <% // TODO(kalvin): Make it cleaner to build questions that contain both inline and end-of-line glyphicon help hovers %>
              <% content.numDependentsHelp.filingTaxReturns.content = content.numDependentsHelp.filingTaxReturns.content.replace('{ffmLink}', ffmLink); %>
              <%- /* Build the highlights object to update {coverageYear} inline here */ %>
              <%= partial('help/_popover-highlight', {
                label: Strings.format(content.numDependentsQuestion, {
                  coverageYear: coverageYear
                }),
                highlights: [
                  content.numDependentsHelp.taxDependents, {
                  highlight: Strings.format(content.numDependentsHelp.whichTaxReturn.highlight, {
                    coverageYear: coverageYear
                  }),
                  content: Strings.format(content.numDependentsHelp.whichTaxReturn.content, {
                    coverageYear: coverageYear,
                    coverageYearPlusOne: coverageYear + 1
                  })
                },
                content.numDependentsHelp.filingTaxReturns
              ]}) %>

            </div>
            <div class="info-text" id="dependent-info-help-text">
              <%= Strings.format(model.get('isMarried') ? content.numDependentsInfoMarried : content.numDependentsInfo, {coverageYear: model.get('coverageYear')}) %>
            </div>
            <%= partial('forms/_dropdown', {
              id: 'num-dependents',
              name: 'tendon:numDependents',
              label: 'Number of Dependents',
              menuItems: [
                { value: '', text: content.select },
                { value: '0', text: '0' },
                { value: '1', text: '1' },
                { value: '2', text: '2' },
                { value: '3', text: '3' },
                { value: '4', text: '4' },
                { value: '5', text: '5' },
                { value: '6', text: '6' },
                { value: '7', text: '7' },
                { value: '8', text: '8' },
                { value: '9', text: '9' },
                { value: '10', text: '10' },
                { value: '11', text: '11' },
                { value: '12', text: '12' },
                { value: '13', text: '13' },
                { value: '14', text: '14' },
                { value: '15', text: '15' },
                { value: '16', text: '16' },
                { value: '17', text: '17' },
                { value: '18', text: '18' },
                { value: '19', text: '19' },
                { value: '20', text: '20' }
              ],
              options: {
                className: 'filter-question dependent-input',
                type: 'number'
              }
            }) %>
          </div>

          <div class="household-size-success-container hidden">
            <div class="question">
              <div class="question-text ask-income">
                <% // this partial is also rerendered in basic-info-screener-view.js when the household size is updated, make sure to update it there %>
                <%= partial('help/_popover-label', {
                  label: model.getHouseholdSize() === 1 ? content.askIncomeSingle : content.askIncomeMultiple,
                  content: Strings.format(content.askIncomeHelp, { coverageYear: model.get('coverageYear') }),
                  options: { append: true, escapePopover: false }
                }) %>
              </div>
              <div class="btn-group filter-question clearfix">
                <%= partial('forms/_toggle-buttons', {
                  name: 'isIncomeBelowFACutoff',
                  items: [
                    {value: true, label: content.lessThanFPL},
                    {value: false, label: content.moreThanFPL}
                  ],
                  options: {selectedValue: model.get('isUnderFACutoff')}
                }) %>
              </div>
            </div>
            <div class="question fa-choice">
              <div class="question-label">
                <!-- this partial is also rerendered in basic-info-screener-view.js when the question-label is regenerated based on different FA options -->
                <%= partial('help/_popover-label', {
                  label: content.faChoice,
                  content: content.faChoiceHelp,
                  options: { escapeLabel: false, escapePopover: false }
                }) %>
              </div>
              <div class="btn-group filter-question clearfix">
                <%= partial('forms/_toggle-buttons', {
                  name: 'tendon:requireFinancialInfo',
                  items: [
                    {value: true, label: content.yes},
                    {value: false, label: content.no}
                  ],
                  options: {selectedValue: model.get('isUnderFACutoff') ? true : null}
                }) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-sm-offset-3 col-md-offset-3 sign-button-wrapper">
              <button class="btn btn-lg btn-success btn-submit" disabled="true"><%- content.continueApplication %></button>
            </div>
          </div>
          <div class="row">
            <div class="msg-success col-md-8"></div>
          </div>
        </div>
        <div class="fail-territory-container hidden spacer-top25" aria-live="polite">
          <%- content.territoryMessage %>
        </div>
        <% // Omitting aria-atomic here results in JAWS 13-15 repeating itself... %>
        <div class="fail-state-container hidden" aria-atomic="true" aria-live="polite">
          <div class="button-wrapper">
            <div class="msg-success spacer-bottom10"></div>
            <a class="btn btn-lg btn-success btn-submit"></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
