<div class="ez-card" id="<%- cardId %>-container">
  <% if (cardTitle) { %>
    <h2 class="card-title"><%- cardTitle %></h2>
  <% } %>
  <div class="article article-inner card-body" id="<%- cardId %>">
    <%= innerCardHtml %>
  </div>

  <div class="ez-button-container" data-card-id="<%- cardId %>">
    <a title="<%- forwardText %>" alt="Save and Continue"
        class="ez-save-button btn btn-lg btn-success">
      <%- forwardText %>
    </a>
    <a title="Edit" alt="Edit" class="ez-edit-button btn btn-lg btn-inverse">
      Edit
    </a>
  </div>
</div>
