<fieldset id="current-income-<%- personIndex %>">
  <legend class="has-subtitle"><%- Strings.format(content.personIncomeHeader, person.getFullName()) %></legend>
  <p class="instructions">
    <%= partial('help/_popover-label', {
      label: Strings.format(content.personIncomeInstructions, person.get('firstName')),
      content: content.personIncomeHelp.popoverContent,
      options: {
        append: true,
        escapePopover: false,
        externalLink: content.personIncomeHelp.externalLink,
        externalText: content.personIncomeHelp.externalText
      }
    }) %>
  </p>

  <div class="income-table-form-container" data-error-style="inline">
  </div>

  <% if (appModel.requireNumHoursWorkedPerWeek() &&
        (person.get('relationship') === 'self' || person.get('relationship') === 'spouse')) { %>
    <div class="question clearfix income-attestation spacer-top40">
      <div class="question-label">
        <%= partial('help/_popover-label', {
          label: Strings.format(content.numHoursWorkedPerWeekQuestion, person.get('firstName')),
          content: content.numHoursWorkedPerWeekQuestionHelp,
          options: {
            append: true,
            escapePopover: false
          }
        }) %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4 col-sm-2 col-md-1">
            <input class="form-control" type="text" name="tendon:people[<%- personIndex %>].numHoursWorkedPerWeek" data-type="number" maxlength="3">
          </div>
        </div>
      </div>
    </div>
  <% } %>
</fieldset>

<div class="question clearfix spacer-bottom20">
  <div class="question-label">
    <%= partial('help/_popover-highlight', {
      label: Strings.format(content.hasDeductionsQuestion, {
        firstName: person.get('firstName'),
        coverageYear: appModel.get('coverageYear')
      }),
      highlights: [{
        escapePopover: false,
        highlight: content.hasDeductionsHelp.highlight,
        content: content.hasDeductionsHelp.popoverContent,
        externalText: content.hasDeductionsHelp.externalText,
        externalLink: content.hasDeductionsHelp.externalLink
      }]
    }) %>
  </div>
  <%= partial('forms/_filter-question', {
    label: '',
    name: 'hasDeductions',
    value: hasDeductions
  }) %>
</div>

<fieldset id="deductions-<%- personIndex %>" class="deductions-fieldset <%- hasDeductions ? '' : 'hidden' %>">
  <legend><%- Strings.format(content.deductionsForX, person.getFullName()) %></legend>

  <div class="deductions-table-form-container" data-error-style="inline">
  </div>
</fieldset>

<fieldset id="annual-income-<%- personIndex %>">
  <legend><%- Strings.format(content.magiForX, person.getFullName()) %></legend>

  <div class="question clearfix income-attestation">
    <div class="question-label">
    <!-- TODO(sha) add link to snack collection -->
    <%= partial('help/_popover-label', {
      label: Strings.format(content.attestationToYearlyIncome, {
        firstName: person.get('firstName'),
        coverageYear: appModel.get('coverageYear')
      }),
      content: content.attestationToYearlyIncomeHelp.popoverContent,
      options: {
        escapeLabel: false,
        escapePopover: false,
        append: true
      }
    }) %>
    </div>
    <%= partial('forms/_filter-question', {
      label: '',
      name: 'isYearlyIncomeAccurate',
      value: !_.isNull(person.get('expectedAnnualIncome')) ? person.expectedAnnualIncomeMinusDeductionsMatchesMAGI() : null
    }) %>
  </div>

  <div class="expected-annual-income-container <%- _.isNull(person.get('expectedAnnualIncome')) || person.expectedAnnualIncomeMinusDeductionsMatchesMAGI() ? 'hidden' : '' %>">
    <div>
      <%- Strings.format(content.expectedAnnualIncomeQuestion, {
        firstName: person.get('firstName'),
        coverageYear: appModel.get('coverageYear')
      }) %>
    </div>
    <div class="spacer-bottom20 help-calculate-income">
      <a href="javascript:;">
        <%- content.helpWithIncomeCalculator %>
      </a>
    </div>
    <div class="row income-estimate">
      <div class="form-group col-lg-3 col-md-4 col-sm-5 col-xs-12">
          <div class="header-label">
            <%- Strings.format(content.annualEstimate, {
              coverageYear: appModel.get('coverageYear')
            }) %></div>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="expected-annual-income form-control" name="tendon:people[<%- personIndex %>].expectedAnnualIncome"
        type="tel" data-type="number" maxlength="10" placeholder="0" aria-label="0" value="<%- Grammar.currencyInputFormat(person.get('expectedAnnualIncome')) %>">
          </div>
      </div>
    </div>
    <div class="income-calculator hidden">
      <p class="instructions">
        <%- content.estimateMonthlyIncome %>
      </p>
      <div class="row">
        <% _.each(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ], function(month) { %>
          <div class="col-md-1 col-sm-2 col-xs-4">
            <div class="header-label"><%- month %></div>
            <input class="form-control income-month-estimate" type="tel" name="incomeCalculator" placeholder="0" aria-label="0" value="">
          </div>
        <% }); %>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-8 pull-right income-calculator-total">
          <%- content.totalPre %> <span class="income-calculator-total-value dollar-value">0</span> <%- content.totalPost %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-8 pull-right">
          <a href="javascript:;" class="save btn btn-md btn-green col-xs-12">Save</a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 pull-right">
          <a href="javascript:;" class="cancel action-link">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</fieldset>
