<div class="lite-card-inner" aria-live="polite" aria-atomic="false">

  <!-- TODO(brandon|ben): a11y -->

  <h1 class="sub"><%- content.lastStepHeading %></h1>
  <p><%- content.lastStepIntro %></p>

  <!-- Contact Information -->
  <fieldset>
    <legend class="has-subtitle">
      <%- content.contactInfoHeading %>
    </legend>
    <p class="instructions">
      <%- content.contactInfoInstructions %>
    </p>
    <%= partial('forms/_full-name', {
      id: 'household-contact-name',
      fieldNamePrefix: 'tendon:householdContact.',
    }) %>

    <div class="row">
      <div class="form-group col-sm-6">
        <div class="header-label hidden-xs"><%- content.emailAddress %></div>
        <input class="form-control" name="tendon:householdContact.emailAddress" type="email" placeholder="<%- content.emailAddress %>" aria-label="<%- content.emailAddress %>">
      </div>

      <div class="form-group col-sm-6">
        <div class="header-label"><%- content.phoneNumber %></div>
        <div class="input-group">
          <input class="form-control" name="tendon:householdContact.phoneNumber" type="tel"
            placeholder="<%- content.phoneNumber %>" aria-label="<%- content.phoneNumber %>" data-mask="999-999-9999">
          <%= partial('forms/_input-group-dropdown', {
            id: 'phone-type-dropdown',
            name: 'tendon:householdContact.phoneType',
            label: content.phoneType,
            menuItems: [
              { value: 'home', text: content.home },
              { value: 'mobile', text: content.mobile },
              { value: 'work', text: content.work }
            ]
          }) %>
        </div><!-- /input-group -->

        <!-- TODO(kalvin): modify tendon and get rid of hidden checkbox -->
        <!-- TODO(benkomalo): not saved on the model yet. The old
              UI had "phoneType". Figure out what's actually needed in FFM. -->
        <input type="checkbox" class="hidden" name="isPhoneNumberCellphone">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <div class="header-label">
          <%= partial('help/_popover-label', {
            label: content.preferredWrittenLanguage,
            content: content.preferredLanguageHelp
          }) %>
        </div>
        <%= partial('forms/_dropdown', {
          id: 'preferred-written-language',
          name: 'tendon:householdContact.preferredWrittenLanguage',
          label: content.preferredWrittenLanguage,
          menuItems: _.map(content.languages, function(text, value) {
            return { value: value, text: text };
          }),
          options: {
            selectedOption: AppContext.getLocale() === 'es' ? 'Spanish' : 'English'
          }
        }) %>
      </div>

      <div class="form-group col-sm-4">
        <div class="header-label">
          <%= partial('help/_popover-label', {
            label: content.preferredSpokenLanguage,
            content: content.preferredLanguageHelp
          }) %>
        </div>
        <%= partial('forms/_dropdown', {
          id: 'preferred-spoken-language',
          name: 'tendon:householdContact.preferredSpokenLanguage',
          label: content.preferredSpokenLanguage,
          menuItems: _.map(content.languages, function(text, value) {
            return { value: value, text: text };
          }),
          options: {
            selectedOption: AppContext.getLocale() === 'es' ? 'Spanish' : 'English'
          }
        }) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group checkbox small">
          <label>
            <input type="checkbox" name="tendon:householdContact.needInfoByEmail">
            <%- content.wantEmailUpdatesCheckbox %>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="form-group checkbox small">
          <label>
            <input type="checkbox" name="hasAssister" <%- model.get('assister') ? 'checked="checked"' : '' %>>
            <%= partial('help/_popover-label', {
              label: content.hasAssister,
              content: content.hasAssisterHelp.content,
              options: {
                append: true,
                escapePopover: false,
                externalText: content.hasAssisterHelp.externalText,
                externalLink: content.hasAssisterHelp.externalLink
              }
            }) %>
          </label>
        </div>
      </div>
    </div>

    <div id="assister">
      <%= partial('forms/_full-name', {
        id: 'assister-name',
        fieldNamePrefix: 'tendon:assister.'
      }) %>

      <div class="row">
        <div class="form-group col-md-3 col-sm-6">
          <%= partial('forms/_dropdown', {
            name: 'tendon:assister.type',
            label: content.assisterType,
            menuItems: _.map(Assister.TYPES, function(type) {
              return { value: type, text: content.assisterTypes[type] };
            }),
            options: { defaultText: content.selectType }
          }) %>
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <input class="form-control " name="tendon:assister.organizationName" type="text"
              maxlength="50" placeholder="<%- content.organizationName %>" aria-label="<%- content.organizationName %>">
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <input class="form-control " name="tendon:assister.organizationId" type="text"
              maxlength="50" placeholder="<%- content.idNumber %>" aria-label="<%- content.idNumber %>">
        </div>
        <%
          var requireNPN = model.get('assister') &&
              model.get('assister').get('type') === Assister.TYPES.AGENT_OR_BROKER;
        %>
        <div class="national-producer-number form-group col-md-3 col-sm-6 <%- requireNPN ? '' : 'hidden' %>">
          <input class="form-control " name="tendon:assister.nationalProducerNumber" type="text"
              maxlength="20" placeholder="<%- content.nationalProducerNumber %>" aria-label="<%- content.nationalProducerNumber %>">
        </div>
      </div>
    </div>

  </fieldset>

  <% // Residential Address %>
  <%= partial('forms/_address', {
    id: 'residential-address',
    content: _.extend({}, content, {
      heading: content.residentialAddressHeading,
      instructions: content.residentialAddressInstructions,
      highlight: content.residentialAddressHighlight.highlight,
      helpContent: content.residentialAddressHighlight.content,
      externalLink: content.residentialAddressHighlight.externalLink,
      externalText: content.residentialAddressHighlight.externalText
    }),
    options: {
      className: 'residential-address-fields',
      coverageStateName: coverageStateName
    },
    fieldNames: {
      street: 'tendon:householdContact.streetName',
      apartment: 'tendon:householdContact.apartment',
      city: 'tendon:householdContact.city',
      state: 'tendon:householdContact.state',
      zipCode: 'tendon:householdContact.zipCode',
      county: 'tendon:householdContact.county'
    }
  }) %>

  <fieldset>
    <%= partial('forms/_filter-question', {
      label: content.mailingAddressToggleLabel,
      name: 'tendon:householdContact.isMailingAddress',
      value: null
    }) %>
  </fieldset>

  <% // Mailing Address %>
  <%= partial('forms/_address', {
    id: 'mailing-address',
    content: _.extend({}, content, {
      heading: content.mailingAddressHeading,
      instructions: content.mailingAddressInstructions,
      highlight: content.mailingAddressHighlight.highlight,
      helpContent: content.mailingAddressHighlight.content,
      externalLink: content.mailingAddressHighlight.externalLink,
      externalText: content.mailingAddressHighlight.externalText
    }),
    fieldNames: {
      street: 'tendon:householdContact.streetNameMailing',
      apartment: 'tendon:householdContact.apartmentMailing',
      city: 'tendon:householdContact.cityMailing',
      state: 'tendon:householdContact.stateMailing',
      zipCode: 'tendon:householdContact.zipCodeMailing'
    },
    options: {className: 'mailing-address-fields hidden'}
  }) %>

  <%= partial('forms/_applicant', {
    i: _.indexOf(model.get('people'), model.getSelf()),
    heading: content.selfHeading,
    shouldAskIfApplying: model.get('people').length > 1 ? true : false,
    shouldShowRelationshipField: false,
    relationshipOptions: [],
    options: {isApplyingLabel: content.isSelfApplyingLabel, subHeading: content.selfHouseholdInfoInstructions}
  }) %>

  <% if (model.get('people').length === 1) { %>
    <input type='hidden' name='tendon:people[0].applyingForInsurance'
      value='true'/>
  <% } %>

  <% if (model.get('isMarried')) { %>
    <% if (!faFlow) { %>
      <% /* In nonFA we ask upfront if spouse is applying, because if not then
        we do not collect the spouse info. In FA we want info either way. */ %>
      <fieldset>
        <%= partial('forms/_filter-question', {
          label: content.isSpouseApplyingLabel,
          name: 'tendon:people[1].applyingForInsurance',
          value: null
        }) %>
      </fieldset>
    <% } %>

    <% /* In FA, we do not ask if spouse is applying until after collecting
      info from the spouse, so we enable that with shouldAskIfApplying */ %>
    <%= partial('forms/_applicant', {
      i: _.indexOf(model.get('people'), model.getSpouse()),
      shouldAskIfApplying: faFlow,
      heading: content.spouseHeading,
      shouldShowRelationshipField: false,
      relationshipOptions: [],
      options: {className: faFlow ? 'spouse' : 'spouse hidden'}
    }) %>
  <% } %>

  <% if (model.hasDependents()) { %>
    <% /* In nonFA we ask upfront if dependents are applying, because if not then
        we do not collect the dependent info. In FA we want info either way. */ %>
    <% if (!faFlow) { %>
    <fieldset>
      <% if (model.getDependents().length <= 2) { %>
        <div class="filter-question toggle-buttons form-group" data-toggle="buttons">
          <% _.each(_.range(model.getDependents().length + 1), function(dependent, i) { %>
            <label class="btn radio-label <%- (i == model.getDependents().length) ? 'last' : '' %>">
              <input type="radio" name="numDependentsApplying" value="<%- i %>"><%- i %>
            </label>
          <% }); %>
          <span><%- content.numDependentsApplyingLabel %></span>
        </div>
      <% } else { %>
        <div class="filter-question num-dependents-dropdown form-group">
          <%= partial('forms/_dropdown', {
            id: 'num-dependents-dropdown',
            name: 'numDependentsApplying',
            label: 'Number of dependents',
            menuItems: _.map(_.range(model.getDependents().length + 1), function(dependent, i) {
              return { value: i, text: i };
            }),
            options: {className: 'dropdown pull-left', defaultText: ''}
          }) %>
          <span class="description"><%- content.numDependentsApplyingLabel %></span>
        </div>
      <% } %>
    </fieldset>
    <% } %>

    <% _.each(model.getDependents(), function(person, i) { %>
      <% /* In FA, we do not ask if dependent is applying until after collecting
      info from the dependent, so we enable that with shouldAskIfApplying */ %>
      <%= partial('forms/_applicant', {
        i: _.indexOf(model.get('people'), person),
        shouldAskIfApplying: faFlow,
        person: person,
        heading: content.dependentHeading,
        shouldShowRelationshipField: false, // TODO(benkomalo): re-enable when we can support step-children.
        relationshipOptions: ['child'],
        options: {className: faFlow ? 'dependent' : 'dependent hidden',}
      }) %>
    <% }); %>
  <% } %>

  <% /* Slightly modified from application-summary.html.
        TODO(samking): We should probably use a partial. */ %>
  <div class="row submit-button-container">
    <div class="form-group col-sm-6 col-sm-offset-3 col-md-offset-3 sign-button-wrapper">
      <button class="btn btn-lg btn-success btn-submit">
        <%- content.continueApplication %>
      </button>
    </div>
  </div>

  <div class="row submitting-button-container hidden">
    <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 progress-button">
      <div class="progress">
        <div class="progress-text-wrapper"><div class="progress-text"><%- content.loading %>...</div></div>
        <div class="progress-success fadeable glyphicon glyphicon-ok"></div>
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 progress-button">
      <div class="submit-progress-message progress-information fadeable visible" aria-live="polite">&nbsp;</div>
    </div>
  </div>

  <div class="form-group has-error text-center hidden submit-error-message">
    <p class="help-block error-message">
      <%- content.loadingError %>
    </p>
  </div>

  <div class="click-cover hidden"><% /* overlay to trap mouse clicks after submission */ %>
  </div>

</div>
