<div class="blue-bg">
  <div class="lite-card-inner" aria-live="polite" aria-atomic="false">
    <% if (showVerifiedMsg) { %>
      <h1 class="sub"><%- content.verifiedMessageTitle %></h1>
      <div class="row">
        <div class="col-md-12">
          <p><%- content.verifiedMessageBody %></p>
        </div>
      </div>
    <% } %>
    <h1 class="sub"><%- content.privacyPolicyTitle %></h1>
    <div class="row">
      <div class="col-md-12">
        <div class="information-box">
        <small><%= content.privacyPolicyBody %></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= content.privacyPolicyLinks %></p>
        <p>
          <label class="control-label">
            <input type="checkbox" name="privacy-policy-attestation" autofocus>
            <%- content.privacyPolicyAttestation %>
          </label>
        </p>
      </div>
      <div class="button-wrapper col-md-8 col-md-offset-2">
        <button class="btn btn-lg btn-success btn-submit disabled"><%- content.privacyPolicyContinue %></button>
      </div>
    </div>
  </div>
</div>
