<div class="table-form <%- _.any(editable) ? 'editing' : '' %>">
  <% if (collection.length > 0 && !_.all(editable)) { %>
    <div class="row table-form-header">
      <%= renderHeaders() %>
    </div>
  <% } %>
  <% collection.each(function(item, i) { %>
    <% if (!editable[i]) { %>

      <div class="row table-form-item <%- (i === 0) ? 'first' : '' %>">
        <%= renderItem(item, i) %>

        <%/* edit and remove actions. can only edit one thing at a time */%>
        <% if (!_.any(editable)) { %>
          <div class="th visible-xs col-sm-12 col-xs-12">
            <%- content.actions %>
          </div>
          <div class="col-sm-3 col-xs-12">
            <a href="javascript:;" title="<%- content.edit %>" alt="<%- content.edit %>" class="edit action-link" data-index="<%-i%>"><%- content.edit %></a>
            <a href="javascript:;" title="<%- content.remove %>" alt="<%- content.remove %>" class="remove action-link" data-index="<%-i%>"><%- content.remove %></a>
          </div>
        <% } %>
      </div>

    <% } else { %>

      <div class="row table-form-item-fields">
        <%= renderItemFields(item, i) %>
      </div>

      <%/* save and cancel actions */%>
      <div class="row table-form-item-field-actions">
        <div class="col-md-3 col-sm-4 col-xs-9">
          <a href="javascript:;" title="<%- content.save %>" alt="<%- content.save %>" class="save btn btn-md btn-green col-xs-12" data-index="<%-i%>"><%- content.save %></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <a href="javascript:;" title="<%- content.cancel %>" alt="<%- content.cancel %>" class="cancel action-link" data-index="<%-i%>"><%- content.cancel %></a>
        </div>
      </div>

    <% } %>
  <% }); %>

  <%/* can only edit one thing at a time */%>
  <% if (!_.any(editable)) { %>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
        <a href="javascript:;" alt="<%- addItemText %>" class="add btn btn-md btn-green col-xs-12">
          <%- addItemText %>
        </a>
      </div>
    </div>
  <% } %>
</div>
