<div class="warn-delete modal fade" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <form class="group">
      <div class="modal-header row">
        <div class="col-xs-12">
          <h2 class="sub pull-left"><%- content.areYouSure %></h2>
          <div class="glyphicon close" aria-hidden="true" data-dismiss="modal">
            <span class="glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-12">
          <p><%- content.newAppRequired %></p>
          <p><%- content.newAppRequiredExplanation %></p>
          <p><%- content.clickContinueOrCancel %></p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row">
          <button class="btn btn-md btn-yellow next pull-left btn-transfer">
            <%- content.continue %>
            <img id="loading" class="hidden" src="/marketplace/b/app2/img/loading.gif" alt="loading" />
          </button>
          <button class="btn btn-md btn-green next pull-right" data-dismiss="modal">
            <%- content.cancel %>
          </button>
        </div>
        <div class="form-group row has-error text-center hidden transfer-error-message">
          <p class="help-block error-message">
            <%- content.continueError %>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
