<div class="form-select <%- defaultValue(options.className, '') %>">
  <select class="<%- defaultValue(options.dropdownToggleClassName, 'form-control') %>" name="<%- name %>" aria-label="<%- label %>" data-type="<%- options.type %>">
    <% if (!_.isUndefined(options.defaultText)) { %>
    <option value="" <% if (_.isUndefined(options.selectedOption)) { %> selected="selected"<% } %>><%- options.defaultText %></option>
    <% } %>
    <% _.each(menuItems, function(menuItem) { %>
    <option value="<%- menuItem.value %>" <% if (options.selectedOption && menuItem.value === options.selectedOption) { %> selected="selected"<% } %>><%- menuItem.text %></option>
    <% }) %>
  </select>
  <span class="caret"></span>
</div>
