<div class="col-md-12 ethnicity-race-dropdown ethnicity-<%- i %>">

  <div class="clearfix row">
    <div class="subtitle ethnicity-race-description instructions col-md-12">
      <%= partial('help/_popover-label', {
        label: content.ethnicityDescription,
        content: content.ethnicityDescriptionHelp
      }) %>
    </div>
    <div class="checkbox small col-md-12">
      <label>
        <input class="hispanic-origin-checkbox" type="checkbox" data-person-index="<%= i %>"
               name="tendon:people[<%= i %>].hispanic">
        <%- content.ethnicityHispanic %>

      </label>

      <div class="clearfix hispanic-ethnicity-specifiers hidden">
        <% _.each(Person.SPECIFIC_ETHNICITY, function(ethnicityVal, ethnicityId, list) { %>
        <div class="checkbox small col-lg-8 col-md-10 col-sm-14">
          <label>
            <input type="checkbox" name="tendon:people[<%= i %>].ethnicities" value="<%= ethnicityVal %>">
              <%- content.ethnicityName[ethnicityId] %>
          </label>
        </div>
        <% }); %>
        <div class="checkbox small col-lg-8 col-md-10 col-sm-14">
          <label>
            <input class="other-checkbox" type="checkbox" name="tendon:people[<%= i %>].ethnicities" value="<%= Person.ETHNICITY.OTHER %>" >
            <%- content.otherHispanicOrigin %>
          </label>

          <div class="other-race-text-container hidden">
            <label>
              <input class="form-control other-text"
                     name="tendon:people[<%= i %>].otherEthnicity" type="text" maxlength="25">
              <%- content.pleaseSpecify %>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix row">
    <% _.each(Person.SPECIFIC_RACE, function(raceVal, raceId, list) { %>
    <div class="checkbox small col-lg-3 col-md-4 col-sm-6">
      <label>
        <input type="checkbox" name="tendon:people[<%= i %>].races" value="<%= raceVal %>">
        <% /* Ensure that long races do not extend past column width */ %>
        <% if (content.raceName[raceId] && content.raceName[raceId].length >= 28) { %>
          <span class="long-ethnicity"><%- content.raceName[raceId] %></span>
        <% } else { %>
          <%- content.raceName[raceId] %>
        <% } %>
      </label>
    </div>
    <% }); %>

    <div class="checkbox small col-lg-3 col-md-4 col-sm-6">
      <label>
        <input class="other-checkbox" type="checkbox" name="tendon:people[<%= i %>].races" value="<%= Person.RACE.OTHER %>" >
        <%- content.other %>
      </label>

      <div class="other-race-text-container hidden">
        <label>
          <input class="form-control other-text"
                 name="tendon:people[<%= i %>].otherRace" type="text" maxlength="25">
          <%- content.pleaseSpecify %>
        </label>
      </div>
    </div>
  </div>
</div>
