<%
/**
 * Filter questions also can take a 'help' object, which will append a help
 * popover onto the end of the label. Additional options are passed to
 * _popover-label via the help.options object, which can contain things like
 * links to external resources.
 */
%>
<div class="filter-question form-group">
  <% if (_.isArray(options.help) && label) { %>
    <div class="visible-radio-label sm hidden-md hidden-lg">
      <%= partial('help/_popover-highlight', {
        label: label,
        highlights: options.help
      }) %>
    </div>
  <% } else if (options.help && label) { %>
    <div class="visible-radio-label sm hidden-md hidden-lg">
      <%= partial('help/_popover-label', {
        label: label,
        content: options.help.content,
        options: _.extend({
          append: true,
          escapeLabel: false,
          escapePopover: false
        }, options.help.options)
      }) %>
    </div>
  <% } else if (label) { %>
    <div class="visible-radio-label sm hidden-md hidden-lg"><%= label %></div>
  <% } %>
  <%= partial('forms/_toggle-buttons', {
    name: name,
    items: [
      {value: true, label: content.yes},
      {value: false, label: content.no}
    ],
    options: {selectedValue: value, className: ''}
  }) %>
  <% if (_.isArray(options.help) && label) { %>
    <span class="visible-radio-label col-md-10 hidden-sm hidden-xs">
      <%= partial('help/_popover-highlight', {
        label: label,
        highlights: options.help
      }) %>
    </span>
  <% } else if (options.help && label) { %>
    <span class="visible-radio-label col-md-10 hidden-sm hidden-xs">
      <%= partial('help/_popover-label', {
        label: label,
        content: options.help.content,
        options: _.extend({
          append: true,
          escapeLabel: false,
          escapePopover: false
        }, options.help.options)
      }) %>
    </span>
  <% } else if (label) { %>
    <span class="visible-radio-label col-md-10 hidden-sm hidden-xs"><%= label %></span>
  <% } %>
  <div class="spacer spacer-bottom25 hidden-md hidden-lg"></div>
</div>
