/* Font Embeds */

@font-face {
    font-family: 'Bitter';
    src: url('../fonts/Bitter-Regular.woff') format('woff'),
         url('../fonts/Bitter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('../fonts/Bitter-Bold.woff') format('woff'),
         url('../fonts/Bitter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('../fonts/Bitter-Italic.woff') format('woff'),
         url('../fonts/Bitter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* CSS */

h1 {

	color:#333;
	font-family:"Bitter","Georgia",serif;
	font-size:34px;
	font-weight:400;
	margin-top:0;

}

h2 {

	color:#333;
	font-family:"Bitter","Georgia",serif;
	font-size:22px;

}

h3 {

	color:#333;
	font-family:"Open Sans",sans-serif;
	font-size:16px;
}

.banner {
	background:#006093;
	margin-bottom:54px;
}

.landing-page-title {

	display:block;
	margin:15px 0;
	color:#fff;
	font-family:"Bitter","Georgia",serif;
	font-size:38px;
	font-weight:400;

}

.subnav {
	margin:0;
	padding:0;
	list-style-type:none;
}

.subnav a {

	display:inline-block;
	margin:10px;
	font-weight:bold;
}

.subnav .glyphicon {

	color: #999;
	display:inline-block;
	margin-left:-14px;
}

.subnav ul {

	margin:0;
	padding:0 0 0 16px;
	list-style-type:none;
}

.hr {

	margin:36px 0 28px;
	background-image:url("../images/hr-pattern.png");
	width:100%;
	height:8px;
}

img { margin-top:36px; width: 100%; }