@media (min-width: 768px) {
	div.record-table .remove-label {
		display:block;
	}
	div.record-table .remove-x {
		display:none;
	}
}

@media (max-width: 768px) {
	div.record-table .remove-label {
		display:none;
	}
	div.record-table .remove-x {
		display:block;
	}
}