{% assign t = site.tags.translations[0] %}
<!DOCTYPE html>

<html lang='{{page.lang}}'>

<head>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name='viewport' content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'/>
  <meta name='description' content="{% if page.meta-description %}{{page.meta-description  | remove: '“' | re}}{% endif %}" />

  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">

  <script src="//assets.healthcare.gov/resources/libs/jquery/1.11/js/jquery.min.js"></script>
  <script src="//assets.healthcare.gov/resources/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//assets.healthcare.gov/resources/libs/lodash/2.4.1/lodash.compat.js"></script>

  <script src="{{site.baseurl}}/js/ZeroClipboard.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

  {% if page.section == "assets" %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets-components/css/style.css">
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/transition.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/tooltip.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/popover.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/modal.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/tab.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets-components/js/libs/bootstrap/affix.js"></script>
  {% endif %}

  <title>{% if page.meta-title %}{{page.meta-title}}{% else %}{{page.title}}{% endif %} | {{ site.title }}</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
      <script src="//assets.healthcare.gov/resources/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//assets.healthcare.gov/resources/libs/respond/1.4.2/js/respond.js"></script>
  <![endif]-->
  <!--[if IE]>
      <style>
      .hidden-ie {display: none;}
      </style>
  <![endif]-->

</head>
<body>
  <a href="#skipnav" class="show-on-focus"> Skip navigation </a>
  {% include flyout.html %}

	<div id="wrapper">
    {% include header.html %}

  	{{ content }}

  	{% include footer.html %}
  </div>
</body>
</html>
