---
layout: base
---

<div id="landing-page" class="main-content">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<span class="landing-page-title">{{ page.section }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
        {% if page.section == "governance" %}
            {% assign pageCenter = true %}
        {% endif %}

        {% if page.section == "about" %}
            {% assign pageCenter = true %}
        {% endif %}

        {% include sub-navigation.html %}                   

		{% if page.section == "assets" %}
		<div id="hc-gov-assets">
		{% endif %}
            
        {% if pageCenter %}
		    <div class="col-sm-12">            
                <div class="governance">
			        {{ content }}
                </div>
        {% else %}
            <div class="col-sm-9">
                {{ content }}
        {% endif %}
		    </div>

		{% if page.section == "assets" %}
		</div>
		{% endif %}
		
	</div>
</div>
