---
layout: base
---

<div id="detail-page" role="main">
	<div class="banner">
	</div>
	<div class="container">
			<div class="col-sm-3">
				<ul class="subnav">
					<li><a href="#">Identity</a></li>
					<li><a href="#">Colors</a></li>
					<li><a href="#">Typography</a></li>
					<li><a href="#">Iconography</a></li>
					<li><a href="#">Photography</a></li>
					<li><a href="#">Page Layouts</a></li>
					<li><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Modules</a>
						<ul>
							<li><a href="#">Global</a></li>
							<li><a href="#">Hero</a></li>
							<li><a href="#">Secondary CTA</a></li>
							<li><a href="#">Action Bar</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-9">
				{{ content }}
			</div>
		</div>
	</div>
</div>
